Node-RED/framework-server.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c98c3e5.bcf2ec","type":"tab","label":"System Information","disabled":false,"info":""},{"id":"25cb6528.16173a","type":"tab","label":"Secretaria - Edificio 1","disabled":false,"info":""},{"id":"bace0c92.cc05d","type":"tab","label":"AVAC - Edificio 1","disabled":false,"info":""},{"id":"703a0849.4eb168","type":"tab","label":"Auditorio C103","disabled":false,"info":""},{"id":"4b2d1da9.054a04","type":"tab","label":"Lab. IoT - Test & Debug","disabled":true,"info":""},{"id":"f2849d38.d321","type":"tab","label":"Alarmes","disabled":true,"info":""},{"id":"23c9ae24.1e5662","type":"tab","label":"Tourism House","disabled":true,"info":""},{"id":"f7c01a9b.850908","type":"tab","label":"Testes - não apanhar ainda!!!","disabled":true,"info":""},{"id":"c8bf7676.8eb3f8","type":"subflow","name":"Save value on DB_v1","info":"","category":"","in":[{"x":260,"y":360,"wires":[{"id":"5c185070.b6b8c"},{"id":"8878086d.6a6008"}]}],"out":[{"x":2240,"y":360,"wires":[]},{"x":1140,"y":240,"wires":[]},{"x":1600,"y":500,"wires":[]}],"env":[],"color":"#DDAA99","status":{"x":2240,"y":480,"wires":[]}},{"id":"1e26c18d.86589e","type":"subflow","name":"Save value on DB_v2","info":"","category":"","in":[{"x":60,"y":400,"wires":[{"id":"dce1c429.c9cb38"}]}],"out":[{"x":2040,"y":400,"wires":[]},{"x":1420,"y":520,"wires":[{"id":"10295606.21ddda","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d56fc9ef.bd1008","type":"mqtt-broker","name":"","broker":"254b9725724f482ab753684a1d4208c1.s2.eu.hivemq.cloud","port":"8883","tls":"e5eeac77cb9d667c","clientid":"clientId-HV5DmqNaKu","autoConnect":true,"usetls":true,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"2","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"2","closePayload":"","closeMsg":{},"willTopic":"","willQos":"2","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b1894d94.36933","type":"MySQLdatabase","z":"c98c3e5.bcf2ec","name":"","host":"40.87.134.246","port":"3306","db":"db_iot_lab707","tz":"","charset":""},{"id":"bd37acff.7668b","type":"ui_tab","name":"System Information","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"93366617.2a1a78","type":"ui_tab","name":"Laboratorio IoT","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"5508210a.a7902","type":"ui_group","name":"Local List","tab":"bd37acff.7668b","order":2,"disp":true,"width":"10","collapse":true},{"id":"2fb26dd0.53fc02","type":"ui_group","name":"Device List","tab":"bd37acff.7668b","order":3,"disp":true,"width":"11","collapse":true},{"id":"f404431d.8860d","type":"ui_group","name":"Sensors Status","tab":"bd37acff.7668b","order":1,"disp":true,"width":"6","collapse":true},{"id":"62f0fc32.4977a4","type":"ui_group","name":"Measure List","tab":"bd37acff.7668b","order":4,"disp":true,"width":"8","collapse":true},{"id":"5a10dd39.da77f4","type":"ui_group","name":"Quadro Emergência","tab":"b42ca4b9.a25c68","order":2,"disp":true,"width":"9","collapse":false},{"id":"2eb9987b.2bc968","type":"ui_group","name":"Quadro Geral","tab":"b42ca4b9.a25c68","order":1,"disp":true,"width":"9","collapse":false},{"id":"52cd338.6d48dcc","type":"ui_group","name":"button","tab":"bd37acff.7668b","order":5,"disp":false,"width":"6","collapse":false},{"id":"e7b9fad4.ad36f8","type":"ui_group","name":" Daily Statistics","tab":"b42ca4b9.a25c68","order":3,"disp":true,"width":"9","collapse":false},{"id":"ab5f24ec.df12a8","type":"ui_group","name":"Local Description","tab":"b42ca4b9.a25c68","order":4,"disp":true,"width":"9","collapse":false},{"id":"c1846361.c6e56","type":"ui_group","name":"dc-test-05","tab":"93366617.2a1a78","order":1,"disp":true,"width":"9","collapse":false},{"id":"42b267b4.608148","type":"ui_group","name":"dc-test-02","tab":"93366617.2a1a78","order":2,"disp":true,"width":"9","collapse":false},{"id":"131e7539.64c56b","type":"ui_group","name":"Auditorio - C103 ","tab":"b002af58.693f6","order":1,"disp":true,"width":"9","collapse":false},{"id":"d2d0ee57.43f81","type":"ui_group","name":"AVAC","tab":"99caee22.05b48","order":1,"disp":true,"width":"9","collapse":false},{"id":"375d84d0.d51abc","type":"ui_group","name":"Daily Statistics","tab":"99caee22.05b48","order":2,"disp":true,"width":"15","collapse":false},{"id":"1650203c.f52","type":"ui_group","name":"Sensor Status","tab":"30b22143.e519fe","order":1,"disp":true,"width":"5","collapse":false},{"id":"13ed6935.e87777","type":"ui_group","name":"Room 1","tab":"30b22143.e519fe","order":2,"disp":true,"width":"6","collapse":false},{"id":"f6c568dc.f9b0b8","type":"ui_group","name":"Room 2","tab":"30b22143.e519fe","order":3,"disp":true,"width":"6","collapse":false},{"id":"ba010f.df578ef","type":"ui_group","name":"Room 3","tab":"30b22143.e519fe","order":4,"disp":true,"width":"6","collapse":false},{"id":"c461f2f1.5e383","type":"ui_group","name":"Daily Statistics","tab":"30b22143.e519fe","order":5,"disp":true,"width":"11","collapse":false},{"id":"76916a5f.2ef064","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#006657","baseFont":"Impact,Impact,Charcoal,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#fa6c00","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Copperplate,Copperplate Gothic Light,fantasy","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#006657","edited":true},"page-titlebar-backgroundColor":{"value":"#006657","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#00b398","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#006657","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Impact,Impact,Charcoal,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Santos e Vale - IoT Manager","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":30,"sy":30,"gx":5,"gy":3,"cx":5,"cy":5,"px":5,"py":3}}},{"id":"9bc80269.211d3","type":"persist-store","filename":"/home/pi/System GEEP/persistence_unity.json","interval":"5"},{"id":"38caefd4.ad9c4","type":"persist-store","d":true,"filename":"/home/pi/System GEEP/persistance.json","interval":"60"},{"id":"bc2fedbf.04af5","type":"persist-store","filename":"/home/pi/System GEEP/persistence_device.json","interval":"60"},{"id":"bf839ccc.e69b","type":"persist-store","filename":"/home/pi/System GEEP/persistence_local.json","interval":"60"},{"id":"3de9ab44daf5a671","type":"ui_group","name":"Group 3","tab":"93366617.2a1a78","order":3,"disp":true,"width":6},{"id":"55c16c125576809a","type":"ui_tab","name":"Tab 8","icon":"dashboard","order":1},{"id":"0d125b91f6c11ac0","type":"ui_group","name":"Local List","tab":"55c16c125576809a","order":2,"disp":true,"width":"6","collapse":false},{"id":"f7f2bb83369dafb2","type":"ui_group","name":"Device List","tab":"55c16c125576809a","order":3,"disp":true,"width":"6","collapse":false},{"id":"87f8b5b8371f4bf7","type":"ui_group","name":"Update","tab":"55c16c125576809a","order":1,"disp":true,"width":"6","collapse":false},{"id":"4954dbee1501f8ab","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e5eeac77cb9d667c","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"254b9725724f482ab753684a1d4208c1.s2.eu.hivemq.cloud","verifyservercert":true,"alpnprotocol":""},{"id":"5c185070.b6b8c","type":"json","z":"c8bf7676.8eb3f8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":240,"wires":[[]]},{"id":"47206065.81ed4","type":"function","z":"c8bf7676.8eb3f8","name":"EXTRAT INFO - LoRa","func":"var pos_unity ={};  //posição da unidade na msg LoRa\nvar unity={};       //unidades das medidas\nvar new_msg = {};   //separação da mensagem\nvar measures = {};  //medições dos sensores\nvar n = 0;          //nº de medições e respetivas unidades na msg LoRa\n\nvar seq = msg.payload[0].counter;\n\nvar clock = msg.payload[0].metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\nvar sensor = msg.payload[0].dev_id;          //nome do sensor da msg\nvar devEUI = msg.payload[0].hardware_serial; //EUI adress\nvar value = msg.payload[0].payload_raw;      //valores das medidas\n\n//extração do unity e n da msg\nfor (var i = 0; i < msg.payload[1].length; i++) {\n    if (value.indexOf(msg.payload[1][i].code) != -1) {\n        pos_unity[n] = value.indexOf(msg.payload[1][i].code);\n        unity[n] = value.slice(pos_unity[n], pos_unity[n]+1);\n        n++\n    }\n}\n//extração das mesures da msg\nnew_msg[0] = value.split(unity[0]);\nmeasures[0] = new_msg[0][0];\nfor (var x = 1; x < n; x++) {\n    new_msg[x] = new_msg[x-1][1].split(unity[x]);\n    measures[x] = new_msg[x][0];\n}\n\nvar next_node = {seq, date, time, sensor, devEUI, value, unity, measures, n};\nvar msg_test = {pos_unity, new_msg, x};\n\nreturn [next_node, msg_test];","outputs":1,"noerr":0,"x":1340,"y":360,"wires":[["8b589e7e.fa70b","f9c281de.228ee"]]},{"id":"ebfba8c2.a91388","type":"join","z":"c8bf7676.8eb3f8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1070,"y":360,"wires":[["47206065.81ed4","9d943c55.c00e1"]]},{"id":"8878086d.6a6008","type":"function","z":"c8bf7676.8eb3f8","name":"SELECT MEASUREMENT_TYPE LIST","func":"sql_select_measurement=\"SELECT name, unity, code FROM SMARTBUILDING_ISCTE.measurement_type\";\n\nsql_msg_measurement = {};\nsql_msg_measurement.topic = sql_select_measurement;\nsql_msg_measurement.custom = {};\n\nreturn sql_msg_measurement;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[[]]},{"id":"8b589e7e.fa70b","type":"debug","z":"c8bf7676.8eb3f8","d":true,"name":"saida 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1660,"y":240,"wires":[]},{"id":"9d943c55.c00e1","type":"debug","z":"c8bf7676.8eb3f8","d":true,"name":"BIG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":240,"wires":[]},{"id":"f9c281de.228ee","type":"function","z":"c8bf7676.8eb3f8","name":"SQL INSERT","func":"var seq = msg.seq;\n\n//  device_id\nvar dev_id = msg.sensor;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\n//  measurement_type_id     &       value\nvar unity = msg.unity;\nvar value = msg.measures;\nvar measurement_type_id = [];\nfor (var i = 0; i < msg.n; i++) {\n    \n    measurement_type_id[i] = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+unity[i]+\"\\\")\";\n    value[i] = value[i] / 100;\n    \n    if( unity[i] == \"E\") {// bug ENERGY need extra divid 100\n        value[i] = value[i] / 100;\n    }\n}\n\n//  date\nvar date = msg.date;\n\n// time\nvar time = msg.time;\n\nvar msg_test = {device_id, unity, measurement_type_id, value, date, time, seq}\n\nvar sql_insert ={};\nvar new_insert = {};\n    new_insert.custom = msg_test;\nfor (var j = 0; j < msg.n; j++) {\n    sql_insert[j] = \"INSERT INTO SMARTBUILDING_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id[j]+\",\"+value[j]+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\n    if (j === 0){\n    new_insert.topic = sql_insert[j];   \n    }\n    else{\n        new_insert.topic = new_insert.topic + sql_insert[j]\n        }\n}\n\nreturn new_insert;//, sql_insert;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1670,"y":360,"wires":[["b7f881a7.a423f"]]},{"id":"b7f881a7.a423f","type":"debug","z":"c8bf7676.8eb3f8","d":true,"name":"saida 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1940,"y":240,"wires":[]},{"id":"83cf839c.677a2","type":"debug","z":"c8bf7676.8eb3f8","name":"SQL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2270,"y":240,"wires":[]},{"id":"10295606.21ddda","type":"function","z":"1e26c18d.86589e","name":"EXTRAT INFO - LoRa","func":"var pos_unity ={};  //posição da unidade na msg LoRa\nvar unity={};       //unidades das medidas\nvar new_msg = {};   //separação da mensagem\nvar measures = {};  //medições dos sensores\nvar n = 0;          //nº de medições e respetivas unidades na msg LoRa\n\nvar seq = msg.payload[0].counter;\nvar payload_raw = msg.payload[0].payload_raw;\n\n\nvar clock = msg.payload[0].metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\nvar sensor = msg.payload[0].dev_id;         //nome do sensor da msg\nvar devEUI = msg.payload[0].hardware_serial;//EUI adress\nvar local = payload_raw.slice(0,3);         //Código do local\nvar value = payload_raw.slice(3);           //valores das medidas\n\n\n//extração do unity e n da msg\nfor (var i = 0; i < msg.payload[1].length; i++) {\n    if (value.indexOf(msg.payload[1][i].code) != -1) {\n        pos_unity[n] = value.indexOf(msg.payload[1][i].code);\n        unity[n] = value.slice(pos_unity[n], pos_unity[n]+1);\n        n++\n    }\n} //\n\n//extração das mesures da msg\nnew_msg[0] = value.split(unity[0]);\nmeasures[0] = new_msg[0][0];\nfor (var x = 1; x < n; x++) {\n    new_msg[x] = new_msg[x-1][1].split(unity[x]);\n    measures[x] = new_msg[x][0];\n} //\n\nvar next_node = {seq, payload_raw, date, time, sensor, devEUI, local, value, unity, measures, n};\nvar msg_test = {pos_unity, new_msg, x};\n\nreturn [next_node, msg_test];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":400,"wires":[["a445c1e6.267b6","68bdfb9b.8dc454"]]},{"id":"402b061d.07c048","type":"join","z":"1e26c18d.86589e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":870,"y":400,"wires":[["10295606.21ddda","5d097ae6.beba84"]]},{"id":"dce1c429.c9cb38","type":"function","z":"1e26c18d.86589e","name":"SELECT MEASUREMENT_TYPE LIST","func":"sql_select_measurement=\"SELECT name, unity, code FROM SMARTBUILDING_ISCTE.measurement_type\";\n\nsql_msg_measurement = {};\nsql_msg_measurement.topic = sql_select_measurement;\nsql_msg_measurement.custom = {};\n\nreturn sql_msg_measurement;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":520,"wires":[[]]},{"id":"a445c1e6.267b6","type":"debug","z":"1e26c18d.86589e","d":true,"name":"saida 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1460,"y":280,"wires":[]},{"id":"5d097ae6.beba84","type":"debug","z":"1e26c18d.86589e","d":true,"name":"BIG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":280,"wires":[]},{"id":"68bdfb9b.8dc454","type":"function","z":"1e26c18d.86589e","name":"SQL INSERT","func":"var seq = msg.seq;\n\n//  local_id\nvar loc_id = msg.local;\nlocal_id = \"(SELECT local_id FROM local WHERE index_code = \\\"\"+loc_id+\"\\\")\";\n\n//  device_id\nvar dev_id = msg.sensor;\ndevice_id = \"(SELECT device_id FROM device WHERE local_id = \"+local_id+\")\";\n\n//  measurement_type_id     &       value\nvar unity = msg.unity;\nvar value = msg.measures;\nvar measurement_type_id = [];\nfor (var i = 0; i < msg.n; i++) {\n    \n    measurement_type_id[i] = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+unity[i]+\"\\\")\";\n    value[i] = value[i] / 100;\n}\n\n//  date\nvar date = msg.date;\n\n// time\nvar time = msg.time;\n\nvar msg_test = {device_id, unity, measurement_type_id, value, date, time, seq}\n\nvar sql_insert ={};\nvar new_insert = {};\n    new_insert.custom = msg_test;\nfor (var j = 0; j < msg.n; j++) {\n    sql_insert[j] = \"INSERT INTO SMARTBUILDING_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id[j]+\",\"+value[j]+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\n    if (j === 0){\n    new_insert.topic = sql_insert[j];   \n    }\n    else{\n        new_insert.topic = new_insert.topic + sql_insert[j]\n        }\n}\n\nreturn new_insert;//, sql_insert;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1470,"y":400,"wires":[["8e46f2ce.d4212"]]},{"id":"8e46f2ce.d4212","type":"debug","z":"1e26c18d.86589e","d":true,"name":"saida 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1740,"y":280,"wires":[]},{"id":"ba653db.aead4c","type":"debug","z":"1e26c18d.86589e","d":true,"name":"SQL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2070,"y":280,"wires":[]},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"b5933152.8bf3e","type":"debug","z":"c98c3e5.bcf2ec","name":"User input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":280,"wires":[]},{"id":"54b12d9c.427d44","type":"function","z":"c98c3e5.bcf2ec","name":"SQL INSERT - Local","func":"var name = msg.payload.Name;\nvar type = msg.payload.Type;\nvar building = msg.payload.Building;\nvar index = msg.payload.Code;\n\nnew_local = {name, type, building, index};\n\nsql_insert = \"INSERT INTO local(name, type, building, index_code) VALUES(\\\"\"+name+\"\\\", \\\"\"+type+\"\\\", \\\"\"+building+\"\\\", \\\"\"+index+\"\\\")\";\nnew_msg = {};\nnew_msg.topic = sql_insert;\nnew_msg.custom = new_local;\n\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":200,"wires":[["09e9c2b70f816aeb"]]},{"id":"18e96f64.d1c771","type":"function","z":"c98c3e5.bcf2ec","name":"SQL SELECT - Local","func":"sql_select_local=\"SELECT name, type, building, index_code FROM db_iot_lab707.local\";\nsql_msg_local = {};\nsql_msg_local.topic = sql_select_local;\nsql_msg_local.custom = {};\n\nreturn sql_msg_local;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[["3283bbb0.5d4ce4"]]},{"id":"1822453.53ad5bb","type":"debug","z":"c98c3e5.bcf2ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":200,"wires":[]},{"id":"2ce93e17.c2cea2","type":"debug","z":"c98c3e5.bcf2ec","name":"User input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":540,"wires":[]},{"id":"d6f67bde.a2ee88","type":"function","z":"c98c3e5.bcf2ec","name":"SQL INSERT - Device","func":"var name = msg.payload.Name;\nvar local = msg.payload.Local;\nvar status = \"ON-Active\";\nvar address = msg.payload.Address;\nvar manufacturer = msg.payload.Manufacturer;\n\nvar local_id = \"(SELECT local_id FROM local WHERE name = \\\"\"+local+\"\\\")\";\n\nnew_device = {name, local_id, status, address, manufacturer};\n\nsql_insert = \"INSERT INTO SMARTBUILDING_ISCTE.device(name, local_id, status, EUI_address, manufacturer) VALUES(\\\"\"+name+\"\\\", \"+local_id+\", \\\"\"+status+\"\\\",\\\"\"+address+\"\\\", \\\"\"+manufacturer+\"\\\")\";\nnew_msg = {};\nnew_msg.topic = sql_insert;\nnew_msg.custom = new_device;\n\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":460,"wires":[["ab0bd2e5.81b32"]]},{"id":"e7037dc3.624ad","type":"function","z":"c98c3e5.bcf2ec","name":"SQL SELECT - Device","func":"sql_select_device=\"SELECT name, EUI_address, manufacturer FROM db_iot_lab707.device\";\n\n//sql_select_device2 = \"SELECT local FROM AC_ISCTE.local\";;\nsql_msg_device = {};\nsql_msg_device.topic = sql_select_device;\nsql_msg_device.custom = {};\n\nreturn sql_msg_device;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":380,"wires":[["19540fcd.8529"]]},{"id":"ae535d98.30f94","type":"debug","z":"c98c3e5.bcf2ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":460,"wires":[]},{"id":"bdf5ebbc.db2398","type":"function","z":"c98c3e5.bcf2ec","d":true,"name":"","func":"sql_select_measurement=\"SELECT name, unity, code measurement_type\";\n\nsql_msg_measurement = {};\nsql_msg_measurement.topic = sql_select_measurement;\nsql_msg_measurement.custom = {};\n\nreturn sql_msg_measurement;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":620,"wires":[["1848a6b.ad44659"]]},{"id":"ec43e7fd.21a3d8","type":"debug","z":"c98c3e5.bcf2ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":620,"wires":[]},{"id":"a287d6a0.6fe7c8","type":"comment","z":"c98c3e5.bcf2ec","name":"","info":"FALTA FAZER UMA FUNÇÃO QUE LIGA device_measurement_type COM device","x":420,"y":520,"wires":[]},{"id":"e585bee4.0db78","type":"trigger","z":"c98c3e5.bcf2ec","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1.5","extend":true,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":1720,"wires":[[]]},{"id":"b7803271.65342","type":"debug","z":"c98c3e5.bcf2ec","name":"dc-test-02","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":1660,"wires":[]},{"id":"176ed358.a316ed","type":"mqtt in","z":"c98c3e5.bcf2ec","name":"","topic":"iscte_ac_project_meti_dc/devices/dc-test-02/up","qos":"2","datatype":"json","broker":"d56fc9ef.bd1008","inputs":0,"x":280,"y":1720,"wires":[["b7803271.65342","e585bee4.0db78","57c475ac.dc58fc","ca330075.e7cdc"]]},{"id":"bf73b44.aed8548","type":"trigger","z":"c98c3e5.bcf2ec","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"10.5","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":620,"y":940,"wires":[[]]},{"id":"634292d6.79a2fc","type":"debug","z":"c98c3e5.bcf2ec","name":"ac-sensor-iscte-01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":880,"wires":[]},{"id":"874eff0d.dd5a9","type":"mqtt in","z":"c98c3e5.bcf2ec","name":"","topic":"#","qos":"2","datatype":"auto","broker":"d56fc9ef.bd1008","nl":false,"rap":false,"inputs":0,"x":110,"y":940,"wires":[["634292d6.79a2fc","bf73b44.aed8548","f027ad1f.33664","3c1547f8.cdaf78"]]},{"id":"d7e2cb65.7b4dd8","type":"trigger","z":"c98c3e5.bcf2ec","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"10.5","extend":true,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":1200,"wires":[[]]},{"id":"3267d32b.dc785c","type":"debug","z":"c98c3e5.bcf2ec","name":"ac-sensor-iscte-02","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":1140,"wires":[]},{"id":"e091d6e7.cacb28","type":"mqtt in","z":"c98c3e5.bcf2ec","name":"","topic":"my/test/azure","qos":"2","datatype":"auto","broker":"d56fc9ef.bd1008","nl":false,"rap":false,"inputs":0,"x":130,"y":1200,"wires":[["3267d32b.dc785c","d7e2cb65.7b4dd8","d537a5eb.7b92e8","7fe0d2fe.afd06c"]]},{"id":"a7b7680c.9352a8","type":"trigger","z":"c98c3e5.bcf2ec","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"10.5","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":620,"y":1460,"wires":[[]]},{"id":"c4b7ee43.7661c","type":"debug","z":"c98c3e5.bcf2ec","name":"ac-sensor-iscte-03","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":1400,"wires":[]},{"id":"641bfe2b.097c6","type":"mqtt in","z":"c98c3e5.bcf2ec","name":"","topic":"iscte_ac_project_meti_dc/devices/ac-sensor-iscte-03/up","qos":"2","datatype":"json","broker":"d56fc9ef.bd1008","inputs":0,"x":260,"y":1460,"wires":[["c4b7ee43.7661c","a7b7680c.9352a8","9a65cefa.3917a","444fd61c.913c58"]]},{"id":"eee23f51.58215","type":"mqtt in","z":"c98c3e5.bcf2ec","name":"","topic":"iscte_ac_project_meti_dc/devices/dc-test-05/up","qos":"2","datatype":"json","broker":"d56fc9ef.bd1008","inputs":0,"x":280,"y":1980,"wires":[["a0efea97.356758","28427fa8.8ae8b","e7ee83b0.45974","32c39996.fd7016"]]},{"id":"28427fa8.8ae8b","type":"trigger","z":"c98c3e5.bcf2ec","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"10.5","extend":true,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":1980,"wires":[[]]},{"id":"a0efea97.356758","type":"debug","z":"c98c3e5.bcf2ec","name":"dc-test-05","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":1920,"wires":[]},{"id":"47dca0d9.3781d","type":"change","z":"c98c3e5.bcf2ec","d":true,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"options","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":700,"wires":[["68a934e7.5d568c"]]},{"id":"68a934e7.5d568c","type":"debug","z":"c98c3e5.bcf2ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":580,"wires":[]},{"id":"17c25e7b.3229d2","type":"mqtt in","z":"c98c3e5.bcf2ec","name":"","topic":"iscte_ac_project_meti_dc/devices/device_energy/up","qos":"2","datatype":"json","broker":"d56fc9ef.bd1008","inputs":0,"x":270,"y":2240,"wires":[["927c64.0faea3a","683dcc64.d7a6b4","1c412ec8.60c541","12645080.483c4"]]},{"id":"683dcc64.d7a6b4","type":"trigger","z":"c98c3e5.bcf2ec","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"10.5","extend":true,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":2240,"wires":[[]]},{"id":"927c64.0faea3a","type":"debug","z":"c98c3e5.bcf2ec","name":"device_energy","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":2180,"wires":[]},{"id":"cdd07a4f.b8f618","type":"link out","z":"c98c3e5.bcf2ec","name":"","links":[],"x":305,"y":340,"wires":[]},{"id":"3283bbb0.5d4ce4","type":"mysql","z":"c98c3e5.bcf2ec","mydb":"b1894d94.36933","name":"Azure - MariaDB","x":730,"y":120,"wires":[["33c7545a406dafc9"]]},{"id":"19540fcd.8529","type":"mysql","z":"c98c3e5.bcf2ec","mydb":"b1894d94.36933","name":"Data_Base - LabIoT","x":680,"y":380,"wires":[["0b416854d6678fe0"]]},{"id":"ab0bd2e5.81b32","type":"mysql","z":"c98c3e5.bcf2ec","mydb":"b1894d94.36933","name":"Data_Base - LabIoT","x":1000,"y":460,"wires":[["ae535d98.30f94","a672acf1.af08f"]]},{"id":"1848a6b.ad44659","type":"mysql","z":"c98c3e5.bcf2ec","mydb":"b1894d94.36933","name":"Data_Base - LabIoT","x":670,"y":620,"wires":[["ec43e7fd.21a3d8","47dca0d9.3781d"]]},{"id":"a672acf1.af08f","type":"ui_button","z":"c98c3e5.bcf2ec","name":"","group":"87f8b5b8371f4bf7","order":1,"width":0,"height":0,"passthru":true,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"'autorenew'","payload":"1","payloadType":"num","topic":"","topicType":"str","x":120,"y":340,"wires":[["2ce9c765.344c68","18e96f64.d1c771","e7037dc3.624ad","bdf5ebbc.db2398","1523aba4.618ce4","cdd07a4f.b8f618","09e9c2b70f816aeb"]]},{"id":"57c475ac.dc58fc","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":11,"width":0,"height":0,"name":"Last Date - dc-test-02","label":"Date","format":"{{msg.payload.metadata.time.substring(0, 10)}}","layout":"row-left","x":660,"y":1780,"wires":[]},{"id":"f027ad1f.33664","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":2,"width":0,"height":0,"name":"Last Date - ac-sensor-iscte-01","label":"Date","format":"{{msg.payload.metadata.time.substring(0, 10)}}","layout":"row-left","x":690,"y":1000,"wires":[]},{"id":"d537a5eb.7b92e8","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":5,"width":0,"height":0,"name":"Last Date - ac-sensor-iscte-02","label":"Date","format":"{{msg.payload.metadata.time.substring(0, 10)}}","layout":"row-left","x":690,"y":1260,"wires":[]},{"id":"9a65cefa.3917a","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":8,"width":0,"height":0,"name":"Last Date - ac-sensor-iscte-03","label":"Date","format":"{{msg.payload.metadata.time.substring(0, 10)}}","layout":"row-left","x":690,"y":1520,"wires":[]},{"id":"444fd61c.913c58","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":9,"width":0,"height":0,"name":"Last Hour - ac-sensor-iscte-03","label":"Hour","format":"{{msg.payload.metadata.time.substring(11, 19)}}","layout":"row-left","x":690,"y":1580,"wires":[]},{"id":"ca330075.e7cdc","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":12,"width":0,"height":0,"name":"Last Hour - dc-test-02","label":"Hour","format":"{{msg.payload.metadata.time.substring(11, 19)}}","layout":"row-left","x":660,"y":1840,"wires":[]},{"id":"7fe0d2fe.afd06c","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":6,"width":0,"height":0,"name":"Last Hour - ac-sensor-iscte-02","label":"Hour","format":"{{msg.payload.metadata.time.substring(11, 19)}}","layout":"row-left","x":690,"y":1320,"wires":[]},{"id":"3c1547f8.cdaf78","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":3,"width":0,"height":0,"name":"Last Hour - ac-sensor-iscte-01","label":"Hour","format":"{{msg.payload.metadata.time.substring(11, 19)}}","layout":"row-left","x":690,"y":1060,"wires":[]},{"id":"e7ee83b0.45974","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":14,"width":0,"height":0,"name":"Last Date - dc-test-05","label":"Date","format":"{{msg.payload.metadata.time.substring(0, 10)}}","layout":"row-left","x":660,"y":2040,"wires":[]},{"id":"32c39996.fd7016","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":15,"width":0,"height":0,"name":"Last Hour - dc-test-05","label":"Hour","format":"{{msg.payload.metadata.time.substring(11, 19)}}","layout":"row-left","x":660,"y":2100,"wires":[]},{"id":"1c412ec8.60c541","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":17,"width":0,"height":0,"name":"Last Date - device_energy","label":"Date","format":"{{msg.payload.metadata.time.substring(0, 10)}}","layout":"row-left","x":670,"y":2300,"wires":[]},{"id":"12645080.483c4","type":"ui_text","z":"c98c3e5.bcf2ec","group":"f404431d.8860d","order":18,"width":0,"height":0,"name":"Last Hour - device_energy","label":"Hour","format":"{{msg.payload.metadata.time.substring(11, 19)}}","layout":"row-left","x":680,"y":2360,"wires":[]},{"id":"2ce9c765.344c68","type":"ui_form","z":"c98c3e5.bcf2ec","name":"","label":"Add New Local","group":"0d125b91f6c11ac0","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Type","value":"Type","type":"text","required":true,"rows":null},{"label":"Building","value":"Building","type":"text","required":true,"rows":null},{"label":"Code","value":"Code","type":"text","required":true,"rows":null}],"formValue":{"Name":"","Type":"","Building":"","Code":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"x":420,"y":200,"wires":[["b5933152.8bf3e","54b12d9c.427d44"]]},{"id":"1523aba4.618ce4","type":"ui_form","z":"c98c3e5.bcf2ec","name":"","label":"Add New Device","group":"f7f2bb83369dafb2","order":2,"width":"0","height":"0","options":[{"label":"Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Address","value":"Address","type":"text","required":true,"rows":null},{"label":"Manufacturer","value":"Manufacturer","type":"text","required":true,"rows":null},{"label":"Local(name)","value":"Local(name)","type":"text","required":true,"rows":null}],"formValue":{"Name":"","Address":"","Manufacturer":"","Local(name)":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"x":430,"y":460,"wires":[["2ce93e17.c2cea2","d6f67bde.a2ee88"]]},{"id":"abef8838.c4e368","type":"ui_toast","z":"c98c3e5.bcf2ec","d":true,"position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Alarme Sensor - timeout","name":"","x":1170,"y":760,"wires":[]},{"id":"09e9c2b70f816aeb","type":"mysql","z":"c98c3e5.bcf2ec","mydb":"b1894d94.36933","name":"Azure - MariaDB","x":1010,"y":200,"wires":[["1822453.53ad5bb"]]},{"id":"33c7545a406dafc9","type":"ui_table","z":"c98c3e5.bcf2ec","group":"87f8b5b8371f4bf7","name":"Local table","order":2,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":990,"y":120,"wires":[]},{"id":"0b416854d6678fe0","type":"ui_table","z":"c98c3e5.bcf2ec","group":"f7f2bb83369dafb2","name":"Device table","order":1,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":1000,"y":380,"wires":[]},{"id":"652b2ac7acfd595f","type":"debug","z":"c98c3e5.bcf2ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":1360,"wires":[]},{"id":"22f608866ebee6a3","type":"mqtt in","z":"c98c3e5.bcf2ec","name":"","topic":"arduino/simple","qos":"2","datatype":"auto","broker":"d56fc9ef.bd1008","nl":false,"rap":false,"inputs":0,"x":140,"y":1360,"wires":[["652b2ac7acfd595f"]]},{"id":"8ee22a89261f2a24","type":"mqtt in","z":"c98c3e5.bcf2ec","name":"","topic":"lab707/santos-e-vale/sensor_3ac_test","qos":"2","datatype":"auto","broker":"d56fc9ef.bd1008","nl":false,"rap":false,"inputs":0,"x":150,"y":2520,"wires":[["3b3c29ef608a91fc","996e63fbf72f72be","37fbdd7874b5889d"]]},{"id":"3b3c29ef608a91fc","type":"debug","z":"c98c3e5.bcf2ec","name":"#","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":2420,"wires":[]},{"id":"996e63fbf72f72be","type":"function","z":"c98c3e5.bcf2ec","name":"SELECT MEASUREMENT_TYPE LIST","func":"sql_select_measurement=\"SELECT name, unity, code FROM measurement_type\";\n\nsql_msg_measurement = {};\nsql_msg_measurement.topic = sql_select_measurement;\nsql_msg_measurement.custom = {};\n\nreturn sql_msg_measurement;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":2600,"wires":[["75180c7f8fabb881"]]},{"id":"03eda574af927de1","type":"debug","z":"c98c3e5.bcf2ec","name":"query","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":2400,"wires":[]},{"id":"75180c7f8fabb881","type":"mysql","z":"c98c3e5.bcf2ec","mydb":"b1894d94.36933","name":"Azure - MariaDB","x":880,"y":2600,"wires":[["a9c2435b0c9152b3"]]},{"id":"0c4bab5ddad1ba7e","type":"join","z":"c98c3e5.bcf2ec","name":"","mode":"custom","build":"array","property":"topic","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1430,"y":2560,"wires":[["2fe78dd83bf92a0d","13e3e9e1f032d96f"]]},{"id":"063b7b6c373c522b","type":"debug","z":"c98c3e5.bcf2ec","name":"join","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":2700,"wires":[]},{"id":"13e3e9e1f032d96f","type":"function","z":"c98c3e5.bcf2ec","name":"EXTRAT INFO","func":"var pos_unity ={};  // posição da unidade na msg value\nvar unity={};       // unidades das medidas\nvar new_msg = {};   // separação da mensagem\nvar measures = {};  // medições dos sensores\nvar n = 0;          // nº de medições e respetivas unidades na msg\n\nvar seq = msg.maesurement.counter;\n//var payload_raw = msg.payload[0].payload_raw;\n\nvar sensor = msg.device.name;               // nome do sensor da msg\nvar device_id = msg.device.device_id;       // device id\nvar local_id = msg.device.local_id;         // Código do local\nvar value = msg.value;                      // valores das medidas\nvar time = msg.time;\nvar date = msg.date;\n\n\n//extração do unity e n da msg\nfor (var i = 0; i < msg.maesurement.length; i++) {\n    if (value.indexOf(msg.maesurement[i].code) != -1) {\n        pos_unity[n] = value.indexOf(msg.maesurement[i].code);\n        unity[n] = value.slice(pos_unity[n], pos_unity[n]+1);\n        n++\n    }\n} //\n\n//extração das mesures da msg\nnew_msg[0] = value.split(unity[0]);\nmeasures[0] = new_msg[0][0];\n\nfor (var x = 1; x < n; x++) {\n    new_msg[x] = new_msg[x-1][1].split(unity[x]);\n    measures[x] = new_msg[x][0];\n} //\n\n\n//var next_node = {seq, payload_raw, date, time, sensor, device_id, local_id, value, unity, measures, n};\n//var msg_test = {pos_unity, new_msg, x};\nvar next_node = {seq, date, time, sensor, device_id, local_id, value, unity, measures, n};\nvar msg_test = {pos_unity, new_msg};\n\nreturn [next_node, msg_test];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":2560,"wires":[["b27000f5f3a322f7","0873d7038b8c3ee9"]]},{"id":"b27000f5f3a322f7","type":"debug","z":"c98c3e5.bcf2ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1790,"y":2460,"wires":[]},{"id":"37fbdd7874b5889d","type":"function","z":"c98c3e5.bcf2ec","name":"FIND DEVICE ","func":"var mqtt_topic = msg.topic;\nvar device = mqtt_topic.split('/');\ndevice = device[2];\nvar value = msg.payload;\nvar timestamp = new Date().toISOString();\nvar date = timestamp.substring(0, 10);\nvar time = timestamp.substring(11, 19);\n\n\n/*\nif (!Date.now) {\n  Date.now = function now() {\n    return new Date().getTime();\n  };\n}\n*/\n\nnew_msg = {};\nnew_msg.mqtt_topic = mqtt_topic;\nnew_msg.device = device;\nnew_msg.topic = \"(SELECT * FROM device WHERE name = \\\"\"+device+\"\\\")\";\nnew_msg.value = value;\nnew_msg.time = time;\nnew_msg.date = date; \n\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":2520,"wires":[["174cbb0e04f59497","441790e1e44332eb"]]},{"id":"0873d7038b8c3ee9","type":"function","z":"c98c3e5.bcf2ec","name":"SQL INSERT","func":"var seq = msg.seq;\n\n//  local_id\nvar loc_id = msg.local_id;\nlocal_id = \"(SELECT local_id FROM local WHERE local_id = \\\"\"+loc_id+\"\\\")\";\n\n//  device_id\nvar dev_id = msg.device_id;\ndevice_id = \"(SELECT device_id FROM device WHERE device_id = \"+dev_id+\")\";\n\n//  measurement_type_id     &       value\nvar unity = msg.unity;\nvar value = msg.measures;\nvar measurement_type_id = [];\nfor (var i = 0; i < msg.n; i++) {\n    \n    measurement_type_id[i] = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+unity[i]+\"\\\")\";\n    value[i] = value[i] / 100;\n}\n\n//  date\nvar date = msg.date;\n\n// time\nvar time = msg.time;\n\nvar msg_test = {device_id, unity, measurement_type_id, value, date, time, seq}\n\nvar sql_insert ={};\nvar new_insert = {};\n    new_insert.custom = msg_test;\nfor (var j = 0; j < msg.n; j++) {\n    sql_insert[j] = \"INSERT INTO received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id[j]+\",\"+value[j]+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\n    if (j === 0){\n    new_insert.topic = sql_insert[j];   \n    }\n    else{\n        new_insert.topic = new_insert.topic + sql_insert[j]\n        }\n}\n\nreturn new_insert;//, sql_insert;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1910,"y":2560,"wires":[["a11a8a202b3fd9ac"]]},{"id":"a11a8a202b3fd9ac","type":"mysql","z":"c98c3e5.bcf2ec","mydb":"b1894d94.36933","name":"Azure - MariaDB","x":2160,"y":2560,"wires":[["753822e974b1a4d1"]]},{"id":"753822e974b1a4d1","type":"debug","z":"c98c3e5.bcf2ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2410,"y":2560,"wires":[]},{"id":"3fa05e449b2c590f","type":"debug","z":"c98c3e5.bcf2ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":60,"wires":[]},{"id":"174cbb0e04f59497","type":"debug","z":"c98c3e5.bcf2ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":2440,"wires":[]},{"id":"441790e1e44332eb","type":"mysql","z":"c98c3e5.bcf2ec","mydb":"b1894d94.36933","name":"Azure - MariaDB","x":880,"y":2520,"wires":[["c94db799eedd43db","8c20e465f59e6f44"]]},{"id":"c94db799eedd43db","type":"debug","z":"c98c3e5.bcf2ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":2460,"wires":[]},{"id":"8c20e465f59e6f44","type":"change","z":"c98c3e5.bcf2ec","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"payload[0]","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":2520,"wires":[["0c4bab5ddad1ba7e","03eda574af927de1"]]},{"id":"a9c2435b0c9152b3","type":"change","z":"c98c3e5.bcf2ec","name":"","rules":[{"t":"set","p":"maesurement","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":2600,"wires":[["063b7b6c373c522b","0c4bab5ddad1ba7e"]]},{"id":"2fe78dd83bf92a0d","type":"debug","z":"c98c3e5.bcf2ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1740,"y":2680,"wires":[]},{"id":"91dab330e2be5f70","type":"function","z":"c98c3e5.bcf2ec","name":"EXTRAT INFO","func":"var pos_unity ={};  //posição da unidade na msg LoRa\nvar unity={};       //unidades das medidas\nvar new_msg = {};   //separação da mensagem\nvar measures = {};  //medições dos sensores\nvar n = 0;          //nº de medições e respetivas unidades na msg\n\nvar seq = msg.payload[0].counter;\nvar payload_raw = msg.payload[0].payload_raw;\n\n\nvar clock = msg.payload[0].metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\nvar sensor = msg.payload[0].dev_id;         //nome do sensor da msg\nvar devEUI = msg.payload[0].hardware_serial;//EUI adress\nvar local = payload_raw.slice(0,3);         //Código do local\nvar value = payload_raw.slice(3);           //valores das medidas\n\n\n//extração do unity e n da msg\nfor (var i = 0; i < msg.payload[1].length; i++) {\n    if (value.indexOf(msg.payload[1][i].code) != -1) {\n        pos_unity[n] = value.indexOf(msg.payload[1][i].code);\n        unity[n] = value.slice(pos_unity[n], pos_unity[n]+1);\n        n++\n    }\n} //\n\n//extração das mesures da msg\nnew_msg[0] = value.split(unity[0]);\nmeasures[0] = new_msg[0][0];\nfor (var x = 1; x < n; x++) {\n    new_msg[x] = new_msg[x-1][1].split(unity[x]);\n    measures[x] = new_msg[x][0];\n} //\n\nvar next_node = {seq, payload_raw, date, time, sensor, devEUI, local, value, unity, measures, n};\nvar msg_test = {pos_unity, new_msg, x};\n\nreturn [next_node, msg_test];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":2180,"wires":[["f2ab2190095ac1e1"]]},{"id":"f2ab2190095ac1e1","type":"function","z":"c98c3e5.bcf2ec","name":"SQL INSERT","func":"var seq = msg.seq;\n\n//  local_id\nvar loc_id = msg.local;\nlocal_id = \"(SELECT local_id FROM local WHERE index_code = \\\"\"+loc_id+\"\\\")\";\n\n//  device_id\nvar dev_id = msg.sensor;\ndevice_id = \"(SELECT device_id FROM device WHERE local_id = \"+local_id+\")\";\n\n//  measurement_type_id     &       value\nvar unity = msg.unity;\nvar value = msg.measures;\nvar measurement_type_id = [];\nfor (var i = 0; i < msg.n; i++) {\n    \n    measurement_type_id[i] = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+unity[i]+\"\\\")\";\n    value[i] = value[i] / 100;\n}\n\n//  date\nvar date = msg.date;\n\n// time\nvar time = msg.time;\n\nvar msg_test = {device_id, unity, measurement_type_id, value, date, time, seq}\n\nvar sql_insert ={};\nvar new_insert = {};\n    new_insert.custom = msg_test;\nfor (var j = 0; j < msg.n; j++) {\n    sql_insert[j] = \"INSERT INTO received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id[j]+\",\"+value[j]+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\n    if (j === 0){\n    new_insert.topic = sql_insert[j];   \n    }\n    else{\n        new_insert.topic = new_insert.topic + sql_insert[j]\n        }\n}\n\nreturn new_insert;//, sql_insert;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":2180,"wires":[[]]},{"id":"e4e56c9f.1fadf","type":"function","z":"25cb6528.16173a","name":"SELECT SQL - LAST AC","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM SMARTBUILDING_ISCTE.device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\n\nvar A1 = \"X\";\nA1 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A1+\"\\\")\";\nvar A2 = \"Y\";\nA2 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A2+\"\\\")\";\nvar A3 = \"Z\";\nA3 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A3+\"\\\")\";\n\n\nsql_select_value_AC_1 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A1+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_select_value_AC_2 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A2+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_select_value_AC_3 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A3+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\n\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value_AC_1 + sql_select_value_AC_2 +sql_select_value_AC_3;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":1000,"wires":[[]]},{"id":"2ba85346.c674ec","type":"function","z":"25cb6528.16173a","name":"SELECT SQL - LAST POWER","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Power = \"Power\";\nPower = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Power+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM SMARTBUILDING_ISCTE.received_measurement WHERE measurement_type_id = \"+Power+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":1100,"wires":[[]]},{"id":"9d9048a6.1c9158","type":"delay","z":"25cb6528.16173a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1020,"y":1100,"wires":[["e4e56c9f.1fadf","2ba85346.c674ec","4bf20bbb.0b6004"]]},{"id":"4bf20bbb.0b6004","type":"function","z":"25cb6528.16173a","name":"SELECT SQL - LAST ENERGY","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Energy = \"Energy\";\nEnergy = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Energy+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM SMARTBUILDING_ISCTE.received_measurement WHERE measurement_type_id = \"+Energy+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":1200,"wires":[[]]},{"id":"10bebecd.b14e41","type":"function","z":"25cb6528.16173a","name":"Phase 3","func":"//var msg = {};\nmsg.payload = msg.payload[2][0].value;\nmsg.topic = \"Phase 3\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 3\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1880,"y":1000,"wires":[[]]},{"id":"b142bb6d.654fa8","type":"function","z":"25cb6528.16173a","name":"Phase 2","func":"//var msg = {};\nmsg.payload = msg.payload[1][0].value;\nmsg.topic = \"Phase 2\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 2\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1880,"y":940,"wires":[[]]},{"id":"a1dbc726.eb2368","type":"function","z":"25cb6528.16173a","name":"Phase 1","func":"//var msg = {};\nmsg.payload = msg.payload[0][0].value;\nmsg.topic = \"Phase 1\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 1\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":880,"wires":[[]]},{"id":"fba5e79b.e0b978","type":"function","z":"25cb6528.16173a","name":"Energy","func":"msg.payload = msg.payload[0].value;\nmsg.topic = \"Quadro Emergência\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":1200,"wires":[[]]},{"id":"a3f534b2.caec08","type":"trigger","z":"25cb6528.16173a","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"11","extend":true,"units":"min","reset":"","bytopic":"topic","topic":"topic","outputs":1,"x":1020,"y":880,"wires":[[]]},{"id":"141d5279.f80dfe","type":"function","z":"25cb6528.16173a","d":true,"name":"SELECT SQL - ALL ENERGY","func":"var dev_id = msg.payload[0].dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Energy = \"Energy\";\nEnergy = \"(SELECT id FROM measurement_type WHERE name = \\\"\"+Energy\n\nvar tempo = msg.payload[1];\n\nsql_select_value = \"SELECT value FROM AC_ISCTE.received_measurement WHERE measurement_type_id = \"+Energy+\" AND device_id = \"+device_id+\";\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"x":930,"y":1860,"wires":[[]]},{"id":"5b21d25b.a8f99c","type":"debug","z":"25cb6528.16173a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":2000,"wires":[]},{"id":"e4fbef57.a996","type":"function","z":"25cb6528.16173a","name":"","func":"var x = 0;\nvar l = msg.payload.length;\n\nfor (i = 0; i < l; i++) {\nx = x + msg.payload[i].value;\n}\n\nvar value_msg = {x, l};\n\nmsg.payload = x;\nreturn msg;\n","outputs":1,"noerr":0,"x":1490,"y":1860,"wires":[["96ca2c52.89d2e"]]},{"id":"96ca2c52.89d2e","type":"debug","z":"25cb6528.16173a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1650,"y":2000,"wires":[]},{"id":"a02cb449.3f3c48","type":"delay","z":"25cb6528.16173a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1000,"y":500,"wires":[["3096f78e.4d5968","4fadb6b8.c07258","30104e9f.264ff2"]]},{"id":"a3087d9d.e89f","type":"function","z":"25cb6528.16173a","name":"Phase 3","func":"//var msg = {};\nmsg.payload = msg.payload[2][0].value;\nmsg.topic = \"Phase 3\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 3\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1880,"y":400,"wires":[[]]},{"id":"3a29762f.02c11a","type":"function","z":"25cb6528.16173a","name":"Phase 2","func":"//var msg = {};\nmsg.payload = msg.payload[1][0].value;\nmsg.topic = \"Phase 2\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 2\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1880,"y":340,"wires":[[]]},{"id":"3873908d.04293","type":"function","z":"25cb6528.16173a","name":"Phase 1","func":"//var msg = {};\nmsg.payload = msg.payload[0][0].value;\nmsg.topic = \"Phase 1\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 1\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1880,"y":280,"wires":[[]]},{"id":"1665cfdf.18b6a","type":"function","z":"25cb6528.16173a","name":"Energy","func":"msg.payload = msg.payload[0].value;\nmsg.topic = \"Quadro Geral\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":600,"wires":[[]]},{"id":"f015c281.a2353","type":"trigger","z":"25cb6528.16173a","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"11","extend":true,"units":"min","reset":"","bytopic":"topic","topic":"topic","outputs":1,"x":1000,"y":260,"wires":[[]]},{"id":"a8391a1.4cb04e8","type":"join","z":"25cb6528.16173a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":570,"y":1860,"wires":[["141d5279.f80dfe","3745e740.9e9c78"]]},{"id":"3745e740.9e9c78","type":"debug","z":"25cb6528.16173a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":1980,"wires":[]},{"id":"e1341550.03ed18","type":"mqtt in","z":"25cb6528.16173a","name":"","topic":"iscte_ac_project_meti_dc/devices/ac-sensor-iscte-01/up","qos":"2","datatype":"auto","broker":"d56fc9ef.bd1008","inputs":0,"x":420,"y":880,"wires":[["7d3e372.0e179c8"]]},{"id":"7d3e372.0e179c8","type":"subflow:c8bf7676.8eb3f8","z":"25cb6528.16173a","name":"","env":[],"x":820,"y":880,"wires":[["da0d9d80.2adc2"],["a3f534b2.caec08","9d9048a6.1c9158"],[]]},{"id":"aefe3d29.c413c","type":"mqtt in","z":"25cb6528.16173a","name":"","topic":"iscte_ac_project_meti_dc/devices/ac-sensor-iscte-02/up","qos":"2","datatype":"auto","broker":"d56fc9ef.bd1008","inputs":0,"x":420,"y":260,"wires":[["19a82713.57f969"]]},{"id":"19a82713.57f969","type":"subflow:c8bf7676.8eb3f8","z":"25cb6528.16173a","name":"","env":[],"x":800,"y":260,"wires":[["1c4daac7.8e09b5"],["a02cb449.3f3c48","f015c281.a2353"],[]]},{"id":"da0d9d80.2adc2","type":"debug","z":"25cb6528.16173a","name":"ac-sensor-iscte-01","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":800,"wires":[]},{"id":"1c4daac7.8e09b5","type":"debug","z":"25cb6528.16173a","name":"ac-sensor-iscte-02","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":180,"wires":[]},{"id":"3096f78e.4d5968","type":"function","z":"25cb6528.16173a","name":"SELECT SQL - LAST AC","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM SMARTBUILDING_ISCTE.device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\n\nvar A1 = \"X\";\nA1 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A1+\"\\\")\";\nvar A2 = \"Y\";\nA2 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A2+\"\\\")\";\nvar A3 = \"Z\";\nA3 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A3+\"\\\")\";\n\n\nsql_select_value_AC_1 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A1+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_select_value_AC_2 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A2+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_select_value_AC_3 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A3+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\n\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value_AC_1 + sql_select_value_AC_2 +sql_select_value_AC_3;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":400,"wires":[[]]},{"id":"4fadb6b8.c07258","type":"function","z":"25cb6528.16173a","name":"SELECT SQL - LAST POWER","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Power = \"Power\";\nPower = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Power+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM SMARTBUILDING_ISCTE.received_measurement WHERE measurement_type_id = \"+Power+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":500,"wires":[[]]},{"id":"30104e9f.264ff2","type":"function","z":"25cb6528.16173a","name":"SELECT SQL - LAST ENERGY","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Energy = \"Energy\";\nEnergy = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Energy+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM SMARTBUILDING_ISCTE.received_measurement WHERE measurement_type_id = \"+Energy+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":600,"wires":[[]]},{"id":"23f35dc8.563862","type":"debug","z":"25cb6528.16173a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1870,"y":660,"wires":[]},{"id":"eea52aca.af4d98","type":"function","z":"25cb6528.16173a","name":"Power","func":"\nmsg.payload = msg.payload[0].value;\nmsg.topic = \"Power\";\nmsg.control = {min:0, max:23}\n\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":500,"wires":[[]]},{"id":"919e9875.531118","type":"function","z":"25cb6528.16173a","name":"Power","func":"\nmsg.payload = msg.payload[0].value;\nmsg.topic = \"Power\";\nmsg.control = {min:0, max:23}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1870,"y":1100,"wires":[[]]},{"id":"2f534cc3.baa754","type":"function","z":"25cb6528.16173a","d":true,"name":"SELECT SQL - ALL ENERGY","func":"var dev_id = msg.payload[0].dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Energy = \"Energy\";\nEnergy = \"(SELECT id FROM measurement_type WHERE name = \\\"\"+Energy\n\nvar tempo = msg.payload[1];\n\nsql_select_value = \"SELECT value FROM AC_ISCTE.received_measurement WHERE measurement_type_id = \"+Energy+\" AND device_id = \"+device_id+\";\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"x":1090,"y":2140,"wires":[[]]},{"id":"9775daee.4d5bb8","type":"debug","z":"25cb6528.16173a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1550,"y":2280,"wires":[]},{"id":"e2b9e2b5.5b977","type":"function","z":"25cb6528.16173a","name":"","func":"var x = 0;\nvar l = msg.payload.length;\n\nfor (i = 0; i < l; i++) {\nx = x + msg.payload[i].value;\n}\n\nvar value_msg = {x, l};\n\nmsg.payload = x;\nreturn msg;\n","outputs":1,"noerr":0,"x":1650,"y":2140,"wires":[["e17e9f29.83bcb"]]},{"id":"e17e9f29.83bcb","type":"debug","z":"25cb6528.16173a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1810,"y":2280,"wires":[]},{"id":"a41c4b50.1251c8","type":"join","z":"25cb6528.16173a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":730,"y":2140,"wires":[["2f534cc3.baa754","8a72a9c.8311958"]]},{"id":"8a72a9c.8311958","type":"debug","z":"25cb6528.16173a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":920,"y":2260,"wires":[]},{"id":"aec935bb.5c3a58","type":"json","z":"25cb6528.16173a","name":"","property":"payload","action":"","pretty":false,"x":370,"y":2140,"wires":[[]]},{"id":"924b972c.8a6f38","type":"function","z":"25cb6528.16173a","d":true,"name":"","func":"var a = msg.payload.payload_raw;\n\nvar new_msg;\n\nnew_msg.payload = msg.payload.payload_raw;\n\nnew_msg.topic = ;\n\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":2260,"wires":[[]]},{"id":"900b0dcc.e983f","type":"function","z":"25cb6528.16173a","name":"Power Chart","func":"\nmsg.payload = msg.payload[0].value;\nmsg.topic = \"ac-sensor-iscte-02\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":740,"wires":[[]]},{"id":"87931af0.bd4c98","type":"function","z":"25cb6528.16173a","name":"Power Chart","func":"\nmsg.payload = msg.payload[0].value;\nmsg.topic = \"ac-sensor-iscte-01\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":800,"wires":[[]]},{"id":"c5df25b5.72ab48","type":"mqtt in","z":"bace0c92.cc05d","name":"","topic":"iscte_ac_project_meti_dc/devices/ac-sensor-iscte-03/up","qos":"2","datatype":"auto","broker":"d56fc9ef.bd1008","inputs":0,"x":300,"y":340,"wires":[["63f9d219.0e7d3c","cbb52183.f46c9"]]},{"id":"169bba21.5b2936","type":"function","z":"bace0c92.cc05d","d":true,"name":"SELECT SQL - ALL ENERGY","func":"var dev_id = msg.payload[0].dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Energy = \"Energy\";\nEnergy = \"(SELECT id FROM measurement_type WHERE name = \\\"\"+Energy\n\nvar tempo = msg.payload[1];\n\nsql_select_value = \"SELECT value FROM AC_ISCTE.received_measurement WHERE measurement_type_id = \"+Energy+\" AND device_id = \"+device_id+\";\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"x":950,"y":1320,"wires":[[]]},{"id":"e55946fe.1e5268","type":"debug","z":"bace0c92.cc05d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":1460,"wires":[]},{"id":"1969be5.a6a7242","type":"function","z":"bace0c92.cc05d","name":"","func":"var x = 0;\nvar l = msg.payload.length;\n\nfor (i = 0; i < l; i++) {\nx = x + msg.payload[i].value;\n}\n\nvar value_msg = {x, l};\n\nmsg.payload = x;\nreturn msg;\n","outputs":1,"noerr":0,"x":1510,"y":1320,"wires":[["d8e62878.7a27d8"]]},{"id":"d8e62878.7a27d8","type":"debug","z":"bace0c92.cc05d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1670,"y":1460,"wires":[]},{"id":"75455226.c6c0ec","type":"join","z":"bace0c92.cc05d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":590,"y":1320,"wires":[["169bba21.5b2936","fe09bb39.a3f068"]]},{"id":"fe09bb39.a3f068","type":"debug","z":"bace0c92.cc05d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":1440,"wires":[]},{"id":"25d7195a.f63926","type":"function","z":"bace0c92.cc05d","name":"SELECT SQL - LAST AC","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM SMARTBUILDING_ISCTE.device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\n\nvar A1 = \"X\";\nA1 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A1+\"\\\")\";\nvar A2 = \"Y\";\nA2 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A2+\"\\\")\";\nvar A3 = \"Z\";\nA3 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A3+\"\\\")\";\n\n\nsql_select_value_AC_1 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A1+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_select_value_AC_2 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A2+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_select_value_AC_3 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A3+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\n\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value_AC_1 + sql_select_value_AC_2 +sql_select_value_AC_3;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":400,"wires":[[]]},{"id":"1babc041.59ece","type":"function","z":"bace0c92.cc05d","name":"SELECT SQL - LAST POWER","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Power = \"Power\";\nPower = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Power+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM SMARTBUILDING_ISCTE.received_measurement WHERE measurement_type_id = \"+Power+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":500,"wires":[[]]},{"id":"4e41f2e1.2c278c","type":"delay","z":"bace0c92.cc05d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":960,"y":500,"wires":[["1babc041.59ece","c38a8f2c.fda44","25d7195a.f63926","a79e9726.1f3648","6a505f16.b8a08"]]},{"id":"c38a8f2c.fda44","type":"function","z":"bace0c92.cc05d","name":"SELECT SQL - LAST ENERGY","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Energy = \"Energy\";\nEnergy = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Energy+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM SMARTBUILDING_ISCTE.received_measurement WHERE measurement_type_id = \"+Energy+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":600,"wires":[[]]},{"id":"1f0c4f26.6fdc21","type":"function","z":"bace0c92.cc05d","name":"Phase 3","func":"//var msg = {};\nmsg.payload = msg.payload[2][0].value;\nmsg.topic = \"Phase 3\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 3\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1920,"y":400,"wires":[[]]},{"id":"1841d78a.76b1a8","type":"function","z":"bace0c92.cc05d","name":"Phase 2","func":"//var msg = {};\nmsg.payload = msg.payload[1][0].value;\nmsg.topic = \"Phase 2\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 2\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1920,"y":340,"wires":[[]]},{"id":"9e096f32.ebdf","type":"function","z":"bace0c92.cc05d","name":"Phase 1","func":"//var msg = {};\nmsg.payload = msg.payload[0][0].value;\nmsg.topic = \"Phase 1\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 1\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1920,"y":280,"wires":[[]]},{"id":"4b0f359b.448d0c","type":"function","z":"bace0c92.cc05d","name":"Power","func":"\nmsg.payload = msg.payload[0].value;\nmsg.topic = \"Power\";\nmsg.control = {min:0, max:23}\n\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":500,"wires":[[]]},{"id":"a5e522e2.20409","type":"function","z":"bace0c92.cc05d","name":"Energy","func":"msg.payload = msg.payload[0].value;\nmsg.topic = \"AVAC\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1920,"y":600,"wires":[[]]},{"id":"4e5c5142.1e067","type":"trigger","z":"bace0c92.cc05d","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"10.5","extend":true,"units":"min","reset":"","bytopic":"topic","topic":"topic","outputs":1,"x":1000,"y":280,"wires":[["ff15084f.66a948"]]},{"id":"8ecf01eb.d2379","type":"debug","z":"bace0c92.cc05d","name":"ac-sensor-iscte-01","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":140,"wires":[]},{"id":"7e7671db.78d93","type":"function","z":"bace0c92.cc05d","name":"Power Chart","func":"\nmsg.payload = msg.payload[0].value;\nmsg.topic = \"ac-sensor-iscte-03\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1930,"y":540,"wires":[[]]},{"id":"63f9d219.0e7d3c","type":"subflow:c8bf7676.8eb3f8","z":"bace0c92.cc05d","name":"","env":[],"x":740,"y":340,"wires":[["8ecf01eb.d2379","47231ba0.c2ff54"],["4e41f2e1.2c278c","4e5c5142.1e067"],[]]},{"id":"47231ba0.c2ff54","type":"trigger","z":"bace0c92.cc05d","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"10.5","extend":true,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1000,"y":220,"wires":[["fef73409.f7a4c8","8b555aad.a3d638"]]},{"id":"8b555aad.a3d638","type":"debug","z":"bace0c92.cc05d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":140,"wires":[]},{"id":"a79e9726.1f3648","type":"function","z":"bace0c92.cc05d","name":"SELECT SQL - LAST 10 VALUE","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Energy = \"Energy\";\nEnergy = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Energy+\"\\\")\";\nvar Power = \"Power\";\nPower = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Power+\"\\\")\";\n\n\nsql_select_value = \"SELECT measurement_type_id, value, time, date FROM SMARTBUILDING_ISCTE.received_measurement WHERE (measurement_type_id = \"+Energy+\" OR measurement_type_id = \"+Power+\") AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 10;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":700,"wires":[[]]},{"id":"f0f7b2c.5fd9f5","type":"debug","z":"bace0c92.cc05d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1910,"y":880,"wires":[]},{"id":"64b2dc9f.b1e514","type":"function","z":"bace0c92.cc05d","d":true,"name":"","func":"\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    \n    msg.payload[0].date = msg.payload[0].date.split(\"T\");\n    \n    if (msg.payload[i].measurement_type_id == 1) {\n        \n        msg.payload[i].measurement_type_id == \"Energy\"\n        \n    }\n    else if(msg.payload[i].measurement_type_id == 2) {\n        \n        msg.payload[i].measurement_type_id == \"Power\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1920,"y":780,"wires":[["e4b0ba3a.3b30e8"]]},{"id":"e4b0ba3a.3b30e8","type":"debug","z":"bace0c92.cc05d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2120,"y":860,"wires":[]},{"id":"6aa00096.0c0ab","type":"debug","z":"bace0c92.cc05d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1380,"y":880,"wires":[]},{"id":"cbb52183.f46c9","type":"debug","z":"bace0c92.cc05d","name":"AVAC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"ff15084f.66a948","type":"ui_led","z":"bace0c92.cc05d","order":1,"group":"d2d0ee57.43f81","width":0,"height":0,"label":"LoRaWAN","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":true,"name":"LoRaWAN","x":1190,"y":280,"wires":[]},{"id":"fef73409.f7a4c8","type":"ui_led","z":"bace0c92.cc05d","order":3,"group":"d2d0ee57.43f81","width":0,"height":0,"label":"Data Base SQL","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":true,"name":"Data Base SQL","x":1200,"y":220,"wires":[]},{"id":"6a505f16.b8a08","type":"persist out","z":"bace0c92.cc05d","name":"SAVE Device","storageNode":"bc2fedbf.04af5","x":1090,"y":880,"wires":[["6aa00096.0c0ab"]]},{"id":"44ba7760.7a01f8","type":"mqtt in","z":"703a0849.4eb168","name":"","topic":"iscte_ac_project_meti_dc/devices/device_energy/up","qos":"2","datatype":"json","broker":"d56fc9ef.bd1008","inputs":0,"x":250,"y":340,"wires":[[]]},{"id":"bfdd916b.53664","type":"function","z":"703a0849.4eb168","name":"SELECT SQL - LAST AC","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM SMARTBUILDING_ISCTE.device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\n\nvar A1 = \"X\";\nA1 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A1+\"\\\")\";\nvar A2 = \"Y\";\nA2 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A2+\"\\\")\";\nvar A3 = \"Z\";\nA3 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A3+\"\\\")\";\n\n\nsql_select_value_AC_1 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A1+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_select_value_AC_2 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A2+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_select_value_AC_3 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A3+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\n\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value_AC_1 + sql_select_value_AC_2 +sql_select_value_AC_3;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":460,"wires":[[]]},{"id":"c1397c74.fc963","type":"function","z":"703a0849.4eb168","name":"SELECT SQL - LAST POWER","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Power = \"Power\";\nPower = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Power+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM SMARTBUILDING_ISCTE.received_measurement WHERE measurement_type_id = \"+Power+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":560,"wires":[[]]},{"id":"3cb0ac85.6c4d04","type":"delay","z":"703a0849.4eb168","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":920,"y":560,"wires":[["bfdd916b.53664","c1397c74.fc963","d7716c56.1a136"]]},{"id":"d7716c56.1a136","type":"function","z":"703a0849.4eb168","name":"SELECT SQL - LAST ENERGY","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Energy = \"Energy\";\nEnergy = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Energy+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM SMARTBUILDING_ISCTE.received_measurement WHERE measurement_type_id = \"+Energy+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":660,"wires":[[]]},{"id":"7cda252e.ba462c","type":"function","z":"703a0849.4eb168","name":"Phase 3","func":"//var msg = {};\nmsg.payload = msg.payload[2][0].value;\nmsg.topic = \"Phase 3\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 3\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1880,"y":460,"wires":[[]]},{"id":"ac02660f.a6f308","type":"function","z":"703a0849.4eb168","name":"Phase 2","func":"//var msg = {};\nmsg.payload = msg.payload[1][0].value;\nmsg.topic = \"Phase 2\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 2\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1880,"y":400,"wires":[[]]},{"id":"872894b0.5a56f8","type":"function","z":"703a0849.4eb168","name":"Phase 1","func":"//var msg = {};\nmsg.payload = msg.payload[0][0].value;\nmsg.topic = \"Phase 1\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 1\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":340,"wires":[[]]},{"id":"d14bf5f4.f0d9c8","type":"function","z":"703a0849.4eb168","name":"Power","func":"\nmsg.payload = msg.payload[0].value;\nmsg.topic = \"Power\";\nmsg.control = {min:0, max:23}\n\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":560,"wires":[[]]},{"id":"6878ce7c.ce8f7","type":"function","z":"703a0849.4eb168","name":"Energy","func":"msg.payload = msg.payload[0].value/100;\nmsg.topic = \"Energy\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":660,"wires":[[]]},{"id":"d15aead1.01c0c8","type":"trigger","z":"703a0849.4eb168","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"10.5","extend":true,"units":"min","reset":"","bytopic":"topic","topic":"topic","outputs":1,"x":920,"y":340,"wires":[[]]},{"id":"75fb0e3b.ddb","type":"debug","z":"703a0849.4eb168","name":"ac-sensor-iscte-01","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":260,"wires":[]},{"id":"fb825169.91445","type":"subflow:1e26c18d.86589e","z":"703a0849.4eb168","name":"","env":[],"x":670,"y":340,"wires":[[],[]]},{"id":"54d02427.34cc3c","type":"file","z":"703a0849.4eb168","name":"log","filename":"log_GEEP","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":910,"y":500,"wires":[[]]},{"id":"85ff9e8f.fc49e","type":"debug","z":"4b2d1da9.054a04","name":"Json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":120,"wires":[]},{"id":"dc5223f9.47e1e","type":"debug","z":"4b2d1da9.054a04","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":200,"wires":[]},{"id":"61db4650.51a418","type":"function","z":"4b2d1da9.054a04","name":"INSERT - SQL","func":"var sensor = msg.payload.dev_id;\nvar devEUI = msg.payload.hardware_serial;\nvar value = msg.payload.payload_raw;\nvar humid = value.substring(0, 4)/100;\nvar temp = value.substring(4, 8)/100;\nvar test_msg = {humid, temp};\n\nsql_insert = \"Insert into AC_ISCTE.teste_Node_RED(date, time, sensor, decEUI, humidade, temperatura) Values (DATE_FORMAT(current_timestamp(), '%Y-%m-%d'),DATE_FORMAT(current_timestamp(), '%H:%i:%s'),\\\"\"+sensor+\"\\\",\\\"\"+devEUI+\"\\\",\"+humid+\",\"+temp+\")\";\nnew_msg = {};\nnew_msg.topic = sql_insert;\nnew_msg.custom = test_msg;\n\nreturn new_msg;","outputs":1,"noerr":0,"x":920,"y":340,"wires":[["2b16ff9c.e4b4","65fa800a.af8ab"]]},{"id":"2b16ff9c.e4b4","type":"change","z":"4b2d1da9.054a04","name":"Valor - Humidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"custom.humid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":500,"wires":[["ea6611dc.3abe4"]]},{"id":"ea6611dc.3abe4","type":"debug","z":"4b2d1da9.054a04","name":"Humid","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":500,"wires":[]},{"id":"65fa800a.af8ab","type":"change","z":"4b2d1da9.054a04","name":"Valor - Temperatura","rules":[{"t":"set","p":"payload","pt":"msg","to":"custom.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":660,"wires":[["e79927aa.b9f668"]]},{"id":"e79927aa.b9f668","type":"debug","z":"4b2d1da9.054a04","name":"Temper","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1400,"y":660,"wires":[]},{"id":"2537b181.6acd7e","type":"file","z":"4b2d1da9.054a04","d":true,"name":"log","filename":"log_GEEP","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1090,"y":60,"wires":[[]]},{"id":"c1f70c80.01f11","type":"mqtt in","z":"4b2d1da9.054a04","name":"","topic":"iscte_ac_project_meti_dc/devices/dc-test-02/up","qos":"2","datatype":"json","broker":"d56fc9ef.bd1008","inputs":0,"x":180,"y":340,"wires":[["7d0bcbef.0b54d4"]]},{"id":"7d0bcbef.0b54d4","type":"mqtt out","z":"4b2d1da9.054a04","d":true,"name":"","topic":"iscte_ac_project_meti_dc/devices/ac-sensor-iscte-02/up","qos":"","retain":"","broker":"","x":410,"y":660,"wires":[]},{"id":"e981eb0c.e59978","type":"function","z":"4b2d1da9.054a04","d":true,"name":"","func":"var msg_A1 = {};\nvar msg_A2 = {};\nvar msg_A3 = {};\n\nmsg_A1.payload = msg.payload[0][0].value\nmsg_A2.payload = msg.payload[1][0].value;\nmsg_A3.payload = msg.payload[2][0].value\n\nmsg_A1.topic = \"Phase 1\";\nmsg_A2.topic = \"Phase 2\";\nmsg_A3.topic = \"Phase 3\";\n\nreturn [msg_A1, msg_A2, msg_A3];","outputs":3,"noerr":0,"x":490,"y":1120,"wires":[["a781e1b4.df834"],[],[]]},{"id":"a781e1b4.df834","type":"debug","z":"4b2d1da9.054a04","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":1180,"wires":[]},{"id":"3b567aeb.715876","type":"function","z":"4b2d1da9.054a04","name":"SELECT SQL - VALUE","func":"\n\n\n//var value_msg = {kWh, date, time};\n\n//device_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n//measurement_type_id = \"(SELECT id FROM measurement_type WHERE unity = \\\"\"+unity+\"\\\")\";\n\nsql_select_value =\"SELECT value, time FROM AC_ISCTE.received_measurement\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"x":680,"y":1340,"wires":[[]]},{"id":"3aeec14d.373a1e","type":"complete","z":"4b2d1da9.054a04","name":"","scope":["5f7ba29d.efd97c"],"uncaught":false,"x":170,"y":1340,"wires":[["3b567aeb.715876","b7db9e57.19e2f","e4a874f9.15f798","f773cf5b.41029"]]},{"id":"ae483d60.32c41","type":"change","z":"4b2d1da9.054a04","name":"Valor - LAST","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1540,"wires":[[]]},{"id":"31e9f94b.6cb446","type":"debug","z":"4b2d1da9.054a04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":1420,"wires":[]},{"id":"f73e6528.698668","type":"inject","z":"4b2d1da9.054a04","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"global","x":190,"y":1440,"wires":[["3b567aeb.715876","b7db9e57.19e2f","e4a874f9.15f798"]]},{"id":"a10e8a0a.0dd648","type":"json","z":"4b2d1da9.054a04","name":"","property":"payload","action":"","pretty":false,"x":1290,"y":1380,"wires":[["c370412a.bd9a3","be47addf.9a384"]]},{"id":"c370412a.bd9a3","type":"debug","z":"4b2d1da9.054a04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1470,"y":1380,"wires":[]},{"id":"5fc34e7c.1ba55","type":"function","z":"4b2d1da9.054a04","d":true,"name":"","func":"var mchart={};\nmchart.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\n//mchart.series = ['Series A', 'Series B', 'Series C'];\nmchart.data = [ sql_msg_value\n  ];\nreturn {payload:[mchart]};\n\n","outputs":1,"noerr":0,"x":1630,"y":1280,"wires":[[]]},{"id":"b7db9e57.19e2f","type":"function","z":"4b2d1da9.054a04","name":"SELECT SQL - TIME","func":"sql_select_time =\"SELECT created_at FROM AC_ISCTE.received_measurement\";\nsql_msg_time = {};\nsql_msg_time.topic = sql_select_time;\nsql_msg_time.custom = {};\n\nreturn sql_msg_time;","outputs":1,"noerr":0,"x":680,"y":1440,"wires":[[]]},{"id":"4804f5f5.1095dc","type":"debug","z":"4b2d1da9.054a04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1470,"y":1620,"wires":[]},{"id":"e7439555.812f88","type":"function","z":"4b2d1da9.054a04","name":"","func":"sql_msg_value = {};\n//sql_msg_value.topic = sql_select_value;\n//sql_msg_value.custom = {};\nsql_msg_value = msg.payload;\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"x":1240,"y":1280,"wires":[["77797fb1.05179","2692c56e.2a3c4a"]]},{"id":"77797fb1.05179","type":"function","z":"4b2d1da9.054a04","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":1280,"wires":[["5fc34e7c.1ba55"]]},{"id":"2692c56e.2a3c4a","type":"debug","z":"4b2d1da9.054a04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1470,"y":1320,"wires":[]},{"id":"be47addf.9a384","type":"function","z":"4b2d1da9.054a04","name":"","func":"var msg_value = msg.payload;\n\nvar chart = [{\n    \"series\":[\"A\"],\n    \"data\":[msg_value],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1460,"wires":[[]]},{"id":"e4a874f9.15f798","type":"function","z":"4b2d1da9.054a04","name":"SELECT SQL - LAST VALUE","func":"\nsql_select_value =\"SELECT value, created_at FROM AC_ISCTE.received_measurement ORDER BY ID DESC LIMIT 1\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"x":700,"y":1540,"wires":[[]]},{"id":"f773cf5b.41029","type":"trigger","z":"4b2d1da9.054a04","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"10","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":640,"y":1640,"wires":[["1bf62c3d.a94ad4"]]},{"id":"1bf62c3d.a94ad4","type":"debug","z":"4b2d1da9.054a04","name":"alarme","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":1740,"wires":[]},{"id":"36c11f8.c264ce","type":"link in","z":"4b2d1da9.054a04","name":"","links":[],"x":1095,"y":1120,"wires":[["b0c9a524.d7f1c8"]]},{"id":"b0c9a524.d7f1c8","type":"switch","z":"4b2d1da9.054a04","name":"","property":"payload.dev_id","propertyType":"msg","rules":[{"t":"eq","v":"ac-sensor-iscte-01","vt":"str"},{"t":"eq","v":"ac-sensor-iscte-02","vt":"str"},{"t":"eq","v":"ac-sensor-iscte-03","vt":"str"},{"t":"eq","v":"dc-test-01","vt":"str"},{"t":"eq","v":"dc-test-03","vt":"str"}],"checkall":"false","repair":true,"outputs":5,"x":1430,"y":1160,"wires":[[],[],[],[],[]]},{"id":"e2677001.871c7","type":"json","z":"4b2d1da9.054a04","d":true,"name":"","property":"payload","action":"","pretty":false,"x":530,"y":2000,"wires":[[]]},{"id":"ca4714c9.33f7a8","type":"function","z":"4b2d1da9.054a04","name":"EXTRAT INFO - LoRa","func":"var pos_unity ={};  //posição da unidade na msg LoRa\nvar unity={};       //unidades das medidas\nvar new_msg = {};   //separação da mensagem\nvar measures = {};  //medições dos sensores\nvar n = 0;          //nº de medições e respetivas unidades na msg LoRa\n\nvar clock = msg.payload[0].metadata.time\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\nvar sensor = msg.payload[0].dev_id;          //nome do sensor da msg\nvar devEUI = msg.payload[0].hardware_serial; //EUI adress\nvar value = msg.payload[0].payload_raw;      //valores das medidas\n\n//extração do unity e n da msg\nfor (var i = 0; i < msg.payload[1].length; i++) {\n    if (value.indexOf(msg.payload[1][i].code) != -1) {\n        pos_unity[n] = value.indexOf(msg.payload[1][i].code);\n        unity[n] = value.slice(pos_unity[n], pos_unity[n]+1);\n        n++\n    }\n}\n//extração das mesures da msg\nnew_msg[0] = value.split(unity[0]);\nmeasures[0] = new_msg[0][0];\nfor (var x = 1; x < n; x++) {\n    new_msg[x] = new_msg[x-1][1].split(unity[x]);\n    measures[x] = new_msg[x][0];\n}\n\nvar next_node = {date, time, sensor, devEUI, value, unity, measures, n};\nvar msg_test = {pos_unity, new_msg, x};\n\nreturn [next_node, msg_test];","outputs":1,"noerr":0,"x":1440,"y":2120,"wires":[["7d794c0c.d1bc64","1b78d0e0.6569bf"]]},{"id":"7c6f39af.842fc8","type":"join","z":"4b2d1da9.054a04","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1170,"y":2120,"wires":[["ca4714c9.33f7a8","71b02991.754b68"]]},{"id":"d8b752fb.75b27","type":"mqtt in","z":"4b2d1da9.054a04","name":"","topic":"iscte_ac_project_meti_dc/devices/dc-test-02/up","qos":"2","datatype":"json","broker":"d56fc9ef.bd1008","inputs":0,"x":240,"y":2120,"wires":[["e2677001.871c7","63b77340.b198cc"]]},{"id":"7d794c0c.d1bc64","type":"debug","z":"4b2d1da9.054a04","name":"saida 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1780,"y":2000,"wires":[]},{"id":"71b02991.754b68","type":"debug","z":"4b2d1da9.054a04","name":"BIG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":2000,"wires":[]},{"id":"1b78d0e0.6569bf","type":"function","z":"4b2d1da9.054a04","name":"SQL INSERT","func":"//  device_id\nvar dev_id = msg.sensor;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\n//  measurement_type_id     &       value\nvar unity = msg.unity;\nvar value = msg.measures;\nvar measurement_type_id = [];\nfor (var i = 0; i < msg.n; i++) {\n    measurement_type_id[i] = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+unity[i]+\"\\\")\";\n    value[i] = value[i] / 100;\n}\n\n//  date\nvar date = msg.date;\n\n// time\nvar time = msg.time;\n\nvar msg_test = {device_id, unity, measurement_type_id, value, date, time}\n\nvar sql_insert ={};\nvar new_insert = {};\n    new_insert.custom = msg_test;\nfor (var j = 0; j < msg.n; j++) {\n    sql_insert[j] = \"INSERT INTO SMARTBUILDING_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id[j]+\",\"+value[j]+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\n    if (j === 0){\n    new_insert.topic = sql_insert[j];   \n    }\n    else{\n        new_insert.topic = new_insert.topic + sql_insert[j]\n        }\n}\n\nreturn new_insert;//, sql_insert;","outputs":1,"noerr":0,"x":1790,"y":2120,"wires":[["4b6cd3a7.14e37c"]]},{"id":"4b6cd3a7.14e37c","type":"debug","z":"4b2d1da9.054a04","name":"saida 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2060,"y":2000,"wires":[]},{"id":"aa57f335.41bf4","type":"debug","z":"4b2d1da9.054a04","name":"SQL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2350,"y":2000,"wires":[]},{"id":"4c0c9f55.69298","type":"debug","z":"4b2d1da9.054a04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":2240,"wires":[]},{"id":"43de9e55.631a7","type":"debug","z":"4b2d1da9.054a04","name":"MongoDB","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1900,"y":2260,"wires":[]},{"id":"a78a5f3f.8c63c","type":"mqtt in","z":"4b2d1da9.054a04","name":"","topic":"iscte_ac_project_meti_dc/devices/dc-test-05/up","qos":"2","datatype":"json","broker":"d56fc9ef.bd1008","inputs":0,"x":280,"y":2740,"wires":[["283529e2.364d06","a2c2de5b.6407b","d906b6ce.eb5e98"]]},{"id":"1b300ca6.f65ac3","type":"debug","z":"4b2d1da9.054a04","name":"dc-test-05","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":2620,"wires":[]},{"id":"ce9fc98e.854ff8","type":"debug","z":"4b2d1da9.054a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":1960,"wires":[]},{"id":"c39af233.56129","type":"subflow:1e26c18d.86589e","z":"4b2d1da9.054a04","name":"","env":[],"x":670,"y":2640,"wires":[[],[]]},{"id":"a2c2de5b.6407b","type":"delay","z":"4b2d1da9.054a04","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":640,"y":2920,"wires":[["c7561199.ae624","e68e26f6.5ffd98","25d15408.ed160c","5cf54c9e.5073d4"]]},{"id":"e1e5f23b.24b1c","type":"function","z":"4b2d1da9.054a04","name":"Phase 3","func":"//var msg = {};\nmsg.payload = msg.payload[2][0].value;\nmsg.topic = \"Phase 3\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 3\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1600,"y":2820,"wires":[[]]},{"id":"b348afe1.2bfba","type":"function","z":"4b2d1da9.054a04","name":"Phase 2","func":"//var msg = {};\nmsg.payload = msg.payload[1][0].value;\nmsg.topic = \"Phase 2\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 2\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1600,"y":2760,"wires":[[]]},{"id":"338620c3.2322a","type":"function","z":"4b2d1da9.054a04","name":"Phase 1","func":"//var msg = {};\nmsg.payload = msg.payload[0][0].value;\nmsg.topic = \"Phase 1\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 1\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1600,"y":2700,"wires":[[]]},{"id":"2df7af5b.44c87","type":"function","z":"4b2d1da9.054a04","name":"Power","func":"\nmsg.payload = msg.payload[0].value;\nmsg.topic = \"Power\";\nmsg.control = {min:0, max:23}\n\n/*\nvar msg_1 = {};\n\nmsg_1.payload = msg.payload[0].value;\nmsg_1.topic = \"ac-sensor-iscte-02\";\n\nreturn [msg, msg_1];\n*/\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1590,"y":2920,"wires":[["6a87f0e6.ec0bf"],["309383.aac44c7e"]]},{"id":"f56dabd6.42e948","type":"function","z":"4b2d1da9.054a04","name":"Energy","func":"msg.payload = msg.payload[0].value;\nmsg.topic = \"Energy\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":3020,"wires":[[]]},{"id":"283529e2.364d06","type":"trigger","z":"4b2d1da9.054a04","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"11","extend":true,"units":"min","reset":"","bytopic":"topic","topic":"topic","outputs":1,"x":640,"y":2700,"wires":[[]]},{"id":"c7561199.ae624","type":"function","z":"4b2d1da9.054a04","name":"SELECT SQL - LAST AC","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM SMARTBUILDING_ISCTE.device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\n\nvar A1 = \"X\";\nA1 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A1+\"\\\")\";\nvar A2 = \"Y\";\nA2 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A2+\"\\\")\";\nvar A3 = \"Z\";\nA3 = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+A3+\"\\\")\";\n\n\nsql_select_value_AC_1 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A1+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_select_value_AC_2 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A2+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_select_value_AC_3 = \"SELECT value, created_at FROM received_measurement WHERE measurement_type_id = \"+A3+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\n\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value_AC_1 + sql_select_value_AC_2 +sql_select_value_AC_3;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":2820,"wires":[[]]},{"id":"e68e26f6.5ffd98","type":"function","z":"4b2d1da9.054a04","name":"SELECT SQL - LAST POWER","func":"var dev_id = msg.payload.dev_id;\n//var dev_id = \"ac-sensor-iscte-02\";\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Power = \"Power\";\nPower = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Power+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM SMARTBUILDING_ISCTE.received_measurement WHERE measurement_type_id = \"+Power+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":2920,"wires":[[]]},{"id":"25d15408.ed160c","type":"function","z":"4b2d1da9.054a04","name":"SELECT SQL - LAST ENERGY","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Energy = \"Energy\";\nEnergy = \"(SELECT measurement_type_id FROM measurement_type WHERE name = \\\"\"+Energy+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM SMARTBUILDING_ISCTE.received_measurement WHERE measurement_type_id = \"+Energy+\" AND device_id = \"+device_id+\" ORDER BY received_measurement_id DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":3020,"wires":[[]]},{"id":"5cf54c9e.5073d4","type":"change","z":"4b2d1da9.054a04","name":"change","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.payload_raw","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":3120,"wires":[[]]},{"id":"c7c7fe2b.45b72","type":"link in","z":"4b2d1da9.054a04","name":"","links":["8c915644.42eca8"],"x":1615,"y":2960,"wires":[[]]},{"id":"abe279bd.2affd8","type":"debug","z":"4b2d1da9.054a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":2880,"wires":[]},{"id":"6a87f0e6.ec0bf","type":"debug","z":"4b2d1da9.054a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1920,"y":2880,"wires":[]},{"id":"309383.aac44c7e","type":"debug","z":"4b2d1da9.054a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1960,"y":2940,"wires":[]},{"id":"640a381e.16d208","type":"inject","z":"4b2d1da9.054a04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":2920,"wires":[["a2c2de5b.6407b"]]},{"id":"63b77340.b198cc","type":"trigger","z":"4b2d1da9.054a04","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"2","extend":true,"units":"min","reset":"","bytopic":"topic","topic":"topic","outputs":1,"x":520,"y":2300,"wires":[[]]},{"id":"1eeb83ee.dde82c","type":"file","z":"4b2d1da9.054a04","name":"log","filename":"log_GEEP","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":2040,"wires":[[]]},{"id":"d906b6ce.eb5e98","type":"file","z":"4b2d1da9.054a04","name":"log","filename":"log_GEEP","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":630,"y":2860,"wires":[[]]},{"id":"13696d23.01ada3","type":"trigger","z":"f2849d38.d321","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"10","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":680,"y":180,"wires":[["f36c6c0f.454d8","a8a4e14f.aff57"]]},{"id":"f36c6c0f.454d8","type":"debug","z":"f2849d38.d321","name":"alarme","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":180,"wires":[]},{"id":"a8a4e14f.aff57","type":"change","z":"f2849d38.d321","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Timeout","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"sem alarme","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":340,"wires":[["cb78155b.528308"]]},{"id":"7e8abbb0.1c3e44","type":"mqtt in","z":"f2849d38.d321","name":"","topic":"iscte_ac_project_meti_dc/devices/dc-test-02/up","qos":"2","datatype":"auto","broker":"d56fc9ef.bd1008","inputs":0,"x":240,"y":180,"wires":[["13696d23.01ada3","80352168.a39b5"]]},{"id":"433f752a.df4a0c","type":"trigger","z":"f2849d38.d321","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"20","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":880,"y":840,"wires":[["99e38d49.12d67","923dd37b.095fe"]]},{"id":"99e38d49.12d67","type":"debug","z":"f2849d38.d321","name":"alarme","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":840,"wires":[]},{"id":"923dd37b.095fe","type":"change","z":"f2849d38.d321","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Timeout","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"sem alarme","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1000,"wires":[[]]},{"id":"774212c4.494f7c","type":"mqtt in","z":"f2849d38.d321","d":true,"name":"","topic":"iscte_ac_project_meti_dc/devices/ac-sensor-iscte-01/up","qos":"2","datatype":"auto","broker":"","inputs":0,"x":240,"y":840,"wires":[["4477521c.9a608c"]]},{"id":"cb78155b.528308","type":"file","z":"f2849d38.d321","name":"log","filename":"log_GEEP","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1070,"y":420,"wires":[["8e44f28.4a0ce1"]]},{"id":"db7177.5bd4fe88","type":"file","z":"f2849d38.d321","d":true,"name":"log","filename":"log_GEEP","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":990,"y":1100,"wires":[[]]},{"id":"80352168.a39b5","type":"json","z":"f2849d38.d321","name":"","property":"payload","action":"","pretty":false,"x":590,"y":420,"wires":[[]]},{"id":"4477521c.9a608c","type":"json","z":"f2849d38.d321","name":"","property":"payload","action":"","pretty":false,"x":530,"y":840,"wires":[[]]},{"id":"8e44f28.4a0ce1","type":"debug","z":"f2849d38.d321","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1280,"y":320,"wires":[]},{"id":"3f40bbd1.fe2d94","type":"file in","z":"f2849d38.d321","name":"","filename":"log_GEEP","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1110,"y":580,"wires":[["bd137d15.b210f"]]},{"id":"bd137d15.b210f","type":"debug","z":"f2849d38.d321","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":740,"wires":[]},{"id":"a0c89b1b.4bb738","type":"mqtt out","z":"f2849d38.d321","d":true,"name":"","topic":"iscte_ac_project_meti_dc/devices/dc-test-02/down","qos":"","retain":"","broker":"d56fc9ef.bd1008","x":670,"y":2060,"wires":[]},{"id":"9d3a0bf8.6e1e48","type":"debug","z":"f2849d38.d321","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":2140,"wires":[]},{"id":"62a0403a.19ae5","type":"inject","z":"f2849d38.d321","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"22","payloadType":"num","x":170,"y":2060,"wires":[["a0c89b1b.4bb738","9d3a0bf8.6e1e48"]]},{"id":"cd503305.5b07","type":"trigger","z":"f2849d38.d321","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"20","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":720,"y":1280,"wires":[["9c314f3b.ef28c","2fa5e1e7.50fa7e"]]},{"id":"9c314f3b.ef28c","type":"debug","z":"f2849d38.d321","name":"alarme","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":1280,"wires":[]},{"id":"2fa5e1e7.50fa7e","type":"change","z":"f2849d38.d321","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Timeout","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"sem alarme","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1440,"wires":[[]]},{"id":"374ba2bb.8bb1de","type":"mqtt in","z":"f2849d38.d321","d":true,"name":"","topic":"iscte_ac_project_meti_dc/devices/dc-test-02/up","qos":"2","datatype":"auto","broker":"d56fc9ef.bd1008","inputs":0,"x":200,"y":1280,"wires":[["cd503305.5b07","26cc606d.04d91","cadcf4ab.a39138","bc5a646f.2be048"]]},{"id":"cf95c29.212cb4","type":"file","z":"f2849d38.d321","d":true,"name":"log","filename":"log_GEEP","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1010,"y":1540,"wires":[[]]},{"id":"cadcf4ab.a39138","type":"mqtt out","z":"f2849d38.d321","d":true,"name":"","topic":"iscte_ac_project_meti_dc/devices/ac-sensor-iscte-02/up","qos":"","retain":"","broker":"d56fc9ef.bd1008","x":950,"y":1760,"wires":[]},{"id":"e488ae3c.bc312","type":"debug","z":"f2849d38.d321","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":1840,"wires":[]},{"id":"bc5a646f.2be048","type":"json","z":"f2849d38.d321","name":"","property":"payload","action":"","pretty":false,"x":470,"y":1760,"wires":[["cadcf4ab.a39138","e488ae3c.bc312"]]},{"id":"ac83deff.51ffa","type":"inject","z":"f2849d38.d321","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":1840,"wires":[["bc5a646f.2be048","cadcf4ab.a39138"]]},{"id":"26cc606d.04d91","type":"debug","z":"f2849d38.d321","name":"ac-sensor-iscte-2_mqqt_in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":1600,"wires":[]},{"id":"6a948263.3b73ac","type":"debug","z":"f2849d38.d321","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":1900,"wires":[]},{"id":"dfcf3605.72dbd8","type":"mqtt in","z":"23c9ae24.1e5662","name":"MQTT Tourism","topic":"/energymonitor","qos":"0","datatype":"auto","broker":"","inputs":0,"x":100,"y":420,"wires":[["4a05745e.4001ac"]]},{"id":"bb0f7385.9b883","type":"debug","z":"23c9ae24.1e5662","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":340,"wires":[]},{"id":"4a05745e.4001ac","type":"json","z":"23c9ae24.1e5662","name":"Format data to JSON (Tourism Apartment)","property":"payload","action":"","pretty":false,"x":380,"y":420,"wires":[["dcf98a5c.0af098","bb0f7385.9b883"]]},{"id":"dcf98a5c.0af098","type":"function","z":"23c9ae24.1e5662","name":"Select Device ID from Database","func":"var devEUI = msg.payload.ID;\nvar seq = msg.payload.seq;\nvar kWh = msg.payload.kWh;\n\nsql_select = \"SELECT * FROM thesis.device where devEui = \\\"\"+devEUI+\"\\\";\";\nnew_msg = {};\nnew_msg.topic = sql_select;\nnew_msg.custom = {};\nnew_msg.custom.seq = seq;\nnew_msg.custom.kWh = kWh;\nreturn new_msg;\n\n","outputs":1,"noerr":0,"x":710,"y":500,"wires":[[]]},{"id":"ec9a72b4.3e5a1","type":"debug","z":"23c9ae24.1e5662","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1910,"y":420,"wires":[]},{"id":"14ada8d8.f91227","type":"inject","z":"23c9ae24.1e5662","name":"Every 30 Minutes","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[[]]},{"id":"fabfacf4.4c3b7","type":"function","z":"23c9ae24.1e5662","name":"Save Outside Temperature to Flow ","func":"flow.set(\"outside_temp\",msg.payload.tempc);\n","outputs":0,"noerr":0,"x":680,"y":200,"wires":[]},{"id":"b5b11f93.720f6","type":"file in","z":"23c9ae24.1e5662","name":"Get Incomplete Data Files","filename":"C:\\Users\\Lab-IoT\\Documents\\EnerMonFiles\\IncompleteObjects.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":140,"wires":[["79282d5e.5cf384"]]},{"id":"79282d5e.5cf384","type":"json","z":"23c9ae24.1e5662","name":"","property":"payload","action":"","pretty":false,"x":550,"y":140,"wires":[["4ec2585f.66fa68"]]},{"id":"18b09ba9.3aedc4","type":"inject","z":"23c9ae24.1e5662","name":"Do Once","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["b5b11f93.720f6"]]},{"id":"4ec2585f.66fa68","type":"function","z":"23c9ae24.1e5662","name":"Save Derived Data Files to Flow and Create Global Array of Devices","func":"flow.set(\"incomplete_files_json\",msg.payload);\n\n//create global variable for missing packet correction\nflow.set(\"array_of_last_messages\",[]);","outputs":0,"noerr":0,"x":880,"y":140,"wires":[]},{"id":"935d058a.cc7d98","type":"function","z":"23c9ae24.1e5662","name":"Reset Derived Data in Memory","func":"var inc_objects = flow.get(\"incomplete_files_json\");\nvar RESET_VALUE = -1;\n\nvar i;\nfor (i = 0; i < inc_objects.length; i++) {\n  var x;\n  for (x = 0; x< inc_objects[i].fields.length; x++){\n      inc_objects[i].fields[x].value_field = RESET_VALUE;\n  }\n}\n","outputs":0,"noerr":0,"x":410,"y":720,"wires":[]},{"id":"75eeaf51.6d4a2","type":"inject","z":"23c9ae24.1e5662","name":"Every Minute 10","repeat":"","crontab":"*/10 0-23 * * *","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":143,"y":700,"wires":[["935d058a.cc7d98","85459ac8.674118"]]},{"id":"85459ac8.674118","type":"debug","z":"23c9ae24.1e5662","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":640,"wires":[]},{"id":"496cd974.45bc48","type":"function","z":"23c9ae24.1e5662","name":"Check Derived Data Files and Update Device Value","func":"var incomplete_files_json = flow.get(\"incomplete_files_json\");\nvar kWh = msg.custom.kWh;\nvar deviceID = msg.custom.keyDevice;\nvar next_msg = {};\nvar affected_ID = \"\";\n\nvar i;\nvar x;\nfor (i = 0; i < incomplete_files_json.length; i++) {\n  for (x = 0; x< incomplete_files_json[i].fields.length; x++){\n    if (incomplete_files_json[i].fields[x].id_field == deviceID){\n        incomplete_files_json[i].fields[x].value_field = kWh;\n        affected_ID = incomplete_files_json[i].id;\n    }\n  }\n}\nif (affected_ID === \"\"){\n    return null;\n} else {\n   next_msg.affected_ID = affected_ID;\n    return next_msg; \n}\n\n","outputs":1,"noerr":0,"x":1090,"y":600,"wires":[["33d4c600.c7ebca","37baba9a.cd7bc6"]]},{"id":"33d4c600.c7ebca","type":"debug","z":"23c9ae24.1e5662","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":700,"wires":[]},{"id":"37baba9a.cd7bc6","type":"function","z":"23c9ae24.1e5662","name":"Calculate Derived Data","func":"var incomplete_files_json = flow.get(\"incomplete_files_json\");\nvar affected_ID = msg.affected_ID;\nvar ready_to_calculate = false;\nvar calculation_string = \"\";\n\nvar i;\nvar x;\nif (msg != null){\n    for (i = 0; i < incomplete_files_json.length; i++) {\n        if (incomplete_files_json[i].id == affected_ID){\n            for (x = 0; x < incomplete_files_json[i].fields.length; x++){\n                if (incomplete_files_json[i].fields[x].value_field == -1){\n                    calculation_string = \"\";\n                    return null;\n                }\n                else {\n                    calculation_string = calculation_string + \" \" + incomplete_files_json[i].fields[x].op_field;\n                    calculation_string = calculation_string + \" \" + incomplete_files_json[i].fields[x].value_field;\n                }\n            }\n            ready_to_calculate=true;\n            break;\n        }\n    }\n} else {\n    return null;\n}\nlet kWh = eval(calculation_string);\nvar next_msg = {};\nnext_msg.custom = {};\nnext_msg.custom.seq = -1;\nnext_msg.custom.keyDevice = affected_ID;\nnext_msg.custom.kWh = kWh;\n\nreturn next_msg;","outputs":1,"noerr":0,"x":1450,"y":600,"wires":[["626546cc.b411d8","ca87e6f6.1ebb88","2f5076f5.eff02a"]]},{"id":"626546cc.b411d8","type":"debug","z":"23c9ae24.1e5662","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1590,"y":680,"wires":[]},{"id":"2f5076f5.eff02a","type":"function","z":"23c9ae24.1e5662","name":"Reset Single Derived Data in Memory","func":"var incomplete_files_json = flow.get(\"incomplete_files_json\");\nvar RESET_VALUE = -1;\nvar keyDevice = msg.custom.keyDevice ;\n\nvar i;\nvar x;\nfor (i = 0; i < incomplete_files_json.length; i++) {\n  if (incomplete_files_json[i].id == keyDevice){\n      for (x = 0; x < incomplete_files_json[i].fields.length; x++){\n          incomplete_files_json[i].fields[x].value_field = RESET_VALUE;\n      }\n    break;\n  }\n}\n","outputs":0,"noerr":0,"x":1790,"y":600,"wires":[]},{"id":"9f2369a4.8ddaa8","type":"function","z":"23c9ae24.1e5662","name":"Message Correction Through Sequence","func":"var array_of_last_messages = flow.get(\"array_of_last_messages\");\n\nvar seq = msg.custom.seq;\nvar keyDevice = msg.payload[0].keyDevice;\nvar kWh = msg.custom.kWh;\nvar new_msg = {};\nnew_msg.custom = {};\nnew_msg.custom.keyDevice = msg.payload[0].keyDevice;\nnew_msg.custom.kWh = kWh;\nnew_msg.custom.seq = seq;\n\n\nvar i;\nfor(i = 0; i < array_of_last_messages.length; i++){\n    if (array_of_last_messages[i].keyDevice == keyDevice){\n        if(array_of_last_messages[i].seq == seq){\n            kWh = kWh - array_of_last_messages[i].kWh;\n            array_of_last_messages[i].seq = seq;\n            array_of_last_messages[i].kWh = kWh;\n            array_of_last_messages[i].timestamp = Date.now();\n            array_of_last_messages[i].online = true;\n            new_msg.custom.kWh = kWh;\n            new_msg.custom.seq = seq;\n            return new_msg;;\n        }\n        else {\n            array_of_last_messages[i].seq = seq;\n            array_of_last_messages[i].kWh = kWh;\n            array_of_last_messages[i].timestamp = Date.now();\n            array_of_last_messages[i].online = true;\n            new_msg.custom.kWh = kWh;\n            new_msg.custom.seq = seq;\n            return new_msg;;\n        }\n    }\n}\n\nlast_message_object = {};\nlast_message_object.keyDevice = keyDevice;\nlast_message_object.kWh = kWh;\nlast_message_object.seq = seq;\nlast_message_object.timestamp = Date.now();\nlast_message_object.online=true;\narray_of_last_messages.push(last_message_object);\n\nreturn new_msg;","outputs":1,"noerr":0,"x":1300,"y":500,"wires":[["496cd974.45bc48","ca87e6f6.1ebb88"]]},{"id":"ca87e6f6.1ebb88","type":"function","z":"23c9ae24.1e5662","name":"Insert Entry into Database","func":"if (msg != null){\n    var seq = msg.custom.seq;\n    var keyDevice = msg.custom.keyDevice;\n    var kWh = msg.custom.kWh;\n    var current = kWh/230 * 60 * 1000;\n    var temp = flow.get(\"outside_temp\");\n    if (temp == null){\n        temp = -1;\n    }\n    sql_insert = \"Insert into thesis.reading (Seq, keyDate, keyTime, keyDevice, kW, kWh, Temp, Current, Secs, Millis, timestamp) Values (\"+seq+\",DATE_FORMAT(current_timestamp(), '%Y-%m-%d'),DATE_FORMAT(current_timestamp(), '%H:%i:00'),\\\"\"+keyDevice+\"\\\",\"+kWh+\",\"+kWh+\",\"+temp+\",\"+current+\",0,0,DATE_FORMAT(current_timestamp(), '%Y-%m-%d %H:%i:00'))\";\n    next_msg = {};\n    next_msg.topic = sql_insert;\n    \n    next_msg.keyDevice = keyDevice;\n    \n    return next_msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":1690,"y":500,"wires":[[]]},{"id":"9fd76b95.47c4d8","type":"function","z":"23c9ae24.1e5662","name":"Device Online Verification","func":"var array_of_last_messages = flow.get(\"array_of_last_messages\");\nMAX_INTERVAL = 2 * 60;\n\nvar i;\nfor (i = 0; i < array_of_last_messages.length; i++){\n    var time_seconds_between = (Date.now() - array_of_last_messages[i].timestamp)/1000;\n    if  (MAX_INTERVAL < time_seconds_between) {\n        array_of_last_messages[i].online = false;\n    } else {\n        array_of_last_messages[i].online = true;\n    }\n}\n\n","outputs":0,"noerr":0,"x":363,"y":800,"wires":[]},{"id":"1e49eaa.668de15","type":"inject","z":"23c9ae24.1e5662","name":"Every Minute","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":143,"y":800,"wires":[["9fd76b95.47c4d8"]]},{"id":"52c3579a.8f1818","type":"http in","z":"23c9ae24.1e5662","d":true,"name":"LoRa POST","url":"/TTNPOST/","method":"post","upload":false,"swaggerDoc":"","x":90,"y":540,"wires":[[]]},{"id":"2ce17596.cd6c2a","type":"mqtt in","z":"23c9ae24.1e5662","name":"","topic":"#","qos":"0","datatype":"auto","broker":"","inputs":0,"x":110,"y":980,"wires":[["fca7e697.eb3488","63962e7.3fb36d"]]},{"id":"fca7e697.eb3488","type":"debug","z":"23c9ae24.1e5662","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":379,"y":977,"wires":[]},{"id":"89bc48b4.6bab08","type":"http request","z":"23c9ae24.1e5662","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.76:5005/receivedata/","tls":"","persist":false,"proxy":"","authType":"","x":665,"y":1107,"wires":[[]]},{"id":"63962e7.3fb36d","type":"function","z":"23c9ae24.1e5662","name":"","func":"new_msg = {};\nnew_msg.payload = msg.payload\nreturn new_msg;","outputs":1,"noerr":0,"x":231,"y":1102,"wires":[["5b8161a8.ac971"]]},{"id":"5b8161a8.ac971","type":"json","z":"23c9ae24.1e5662","name":"","property":"payload","action":"","pretty":false,"x":409,"y":1105,"wires":[["89bc48b4.6bab08"]]},{"id":"98fbd7f1.fdbd28","type":"function","z":"23c9ae24.1e5662","name":"","func":"new_msg = {};\ncurrent_datetime = new Date(msg.payload);\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate()\nsql_select = \"SELECT sum(kWh) as sums FROM thesis.reading where keyDate = \\\"\"+formatted_date+\"\\\";\";\nnew_msg.topic = sql_select;\nreturn new_msg;\n\n","outputs":1,"noerr":0,"x":318.5,"y":1218,"wires":[[]]},{"id":"8f1e2e04.a032e","type":"function","z":"23c9ae24.1e5662","name":"","func":"new_msg = {};\nvalue_number = msg.payload[0].sums;\nnew_msg.value = Math.round(value_number * 100) / 100\nreturn new_msg;","outputs":1,"noerr":0,"x":640.5,"y":1218,"wires":[[]]},{"id":"19a52a9a.1ce585","type":"function","z":"f7c01a9b.850908","name":"AC - INSERT SQL","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar unity = \"kWh\"; ///////////\nmeasurement_type_id_A1 = \"(SELECT id FROM measurement_type WHERE unity = 'A1')\";\nmeasurement_type_id_A2 = \"(SELECT id FROM measurement_type WHERE unity = 'A2')\";\nmeasurement_type_id_A3 = \"(SELECT id FROM measurement_type WHERE unity = 'A3')\";\n\nvar value = msg.payload.payload_raw;\n\nvar A1 = value.split(\"A1\");\nvar A2 = A1[1].split(\"A2\");\nvar A3 = A2[1].split(\"A3\");\n\nA1 = A1[0] / 100;\nA2 = A2[0] / 100;\nA3 = A3[0] / 100;\nvar clock = msg.payload.metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\n\nvar value_msg = {value, A1, A2, A3, date, time};\n\nsql_insert_A1 = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id_A1+\",\"+A1+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nsql_insert_A2 = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id_A2+\",\"+A2+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nsql_insert_A3 = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id_A3+\",\"+A3+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nnew_msg = {};\nnew_msg.topic = sql_insert_A1 + sql_insert_A2 + sql_insert_A3;\nnew_msg.custom = value_msg;\n\n//return [new_msg, nvioegp];\nreturn value_msg, new_msg;","outputs":1,"noerr":0,"x":250,"y":180,"wires":[[]]},{"id":"b3bfc411.7dc148","type":"function","z":"f7c01a9b.850908","name":"POWER - INSERT SQL","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar unity = \"KW\"; ///////////\nmeasurement_type_id = \"(SELECT id FROM measurement_type WHERE unity = \\\"\"+unity+\"\\\")\";\n\nvar value = msg.payload.payload_raw;\n\nvar x = value.split(\"A3\");\nvar KW = x[1].split(\"KW\");\n\nKW = KW[0] / 100;\n\nvar clock = msg.payload.metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\n\nvar value_msg = {value, KW, date, time};\n\nsql_insert = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id+\",\"+KW+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nnew_msg = {};\nnew_msg.topic = sql_insert;\nnew_msg.custom = value_msg;\n\nreturn value_msg, new_msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[[]]},{"id":"d2ce6591.88d608","type":"function","z":"f7c01a9b.850908","name":"ENERGY - INSERT SQL","func":"if (msg.payload.payload_raw.includes(\"WH\") === true) {\nvar dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar unity = \"kWh\"; ///////////\nmeasurement_type_id = \"(SELECT id FROM measurement_type WHERE unity = \\\"\"+unity+\"\\\")\";\n\nvar value = msg.payload.payload_raw;\n\nvar x = value.split(\"KW\");\nvar kWh = x[1].split(\"WH\");\n\nkWh = kWh[0] / 100;\n\nvar clock = msg.payload.metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\n\nvar value_msg = {value, kWh, date, time};\n\nsql_insert = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id+\",\"+kWh+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nnew_msg = {};\nnew_msg.topic = sql_insert;\nnew_msg.custom = value_msg;\n\nreturn value_msg, new_msg;\n}","outputs":1,"noerr":0,"x":270,"y":340,"wires":[[]]},{"id":"16fc5b52.580c75","type":"debug","z":"f7c01a9b.850908","name":"Json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":580,"wires":[]},{"id":"8c43d1d3.0b9e5","type":"json","z":"f7c01a9b.850908","name":"","property":"payload","action":"","pretty":false,"x":170,"y":580,"wires":[["16fc5b52.580c75"]]},{"id":"109c7f61.396b41","type":"debug","z":"f7c01a9b.850908","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":660,"wires":[]},{"id":"db8143da.6f312","type":"function","z":"f7c01a9b.850908","name":"INSERT - SQL","func":"var sensor = msg.payload.dev_id;\nvar devEUI = msg.payload.hardware_serial;\nvar value = msg.payload.payload_raw;\nvar humid = value.substring(0, 4)/100;\nvar temp = value.substring(4, 8)/100;\nvar test_msg = {humid, temp};\n\nsql_insert = \"Insert into AC_ISCTE.teste_Node_RED(date, time, sensor, decEUI, humidade, temperatura) Values (DATE_FORMAT(current_timestamp(), '%Y-%m-%d'),DATE_FORMAT(current_timestamp(), '%H:%i:%s'),\\\"\"+sensor+\"\\\",\\\"\"+devEUI+\"\\\",\"+humid+\",\"+temp+\")\";\nnew_msg = {};\nnew_msg.topic = sql_insert;\nnew_msg.custom = test_msg;\n\nreturn new_msg;","outputs":1,"noerr":0,"x":540,"y":800,"wires":[["5b08e10f.ae4e8","a949075c.8a2458","940c8f0b.cba37"]]},{"id":"5a924ac4.c82124","type":"debug","z":"f7c01a9b.850908","name":"SQL-LabIoT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":700,"wires":[]},{"id":"5334c4e5.52661c","type":"debug","z":"f7c01a9b.850908","name":"SQL-Home","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":840,"wires":[]},{"id":"5b08e10f.ae4e8","type":"change","z":"f7c01a9b.850908","name":"Valor - Corrente Fase 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"custom.humid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":960,"wires":[["79187d59.12a6b4"]]},{"id":"79187d59.12a6b4","type":"debug","z":"f7c01a9b.850908","name":"Humid","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":960,"wires":[]},{"id":"a949075c.8a2458","type":"change","z":"f7c01a9b.850908","name":"Valor - Corrente Fase 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"custom.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1120,"wires":[["d75143fa.8f2c8"]]},{"id":"d75143fa.8f2c8","type":"debug","z":"f7c01a9b.850908","name":"Temper","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":1120,"wires":[]},{"id":"940c8f0b.cba37","type":"change","z":"f7c01a9b.850908","name":"Valor - Corrente Fase 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"custom.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1320,"wires":[["f44a5744.0bcc38"]]},{"id":"f44a5744.0bcc38","type":"debug","z":"f7c01a9b.850908","name":"Temper","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":1320,"wires":[]},{"id":"3955b59.75e0a4a","type":"json","z":"f7c01a9b.850908","name":"","property":"payload","action":"","pretty":false,"x":490,"y":1460,"wires":[[]]},{"id":"6b615689.910c78","type":"function","z":"f7c01a9b.850908","name":"INSERT - SQL","func":"var sensor = msg.payload.dev_id;\nvar devEUI = msg.payload.hardware_serial;\nvar value = msg.payload.payload_raw;\nvar humid = value.substring(0, 4)/100;\nvar temp = value.substring(4, 8)/100;\nvar test_msg = {humid, temp};\n\nsql_insert = \"Insert into AC_ISCTE.teste_Node_RED(date, time, sensor, decEUI, humidade, temperatura) Values (DATE_FORMAT(current_timestamp(), '%Y-%m-%d'),DATE_FORMAT(current_timestamp(), '%H:%i:%s'),\\\"\"+sensor+\"\\\",\\\"\"+devEUI+\"\\\",\"+humid+\",\"+temp+\")\";\nnew_msg = {};\nnew_msg.topic = sql_insert;\nnew_msg.custom = test_msg;\n\nreturn new_msg;","outputs":1,"noerr":0,"x":1580,"y":1760,"wires":[[]]},{"id":"bc1bc367.7a5c9","type":"function","z":"f7c01a9b.850908","name":"AC - INSERT SQL","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar unity = \"kWh\"; ///////////\nmeasurement_type_id_A1 = \"(SELECT id FROM measurement_type WHERE unity = 'A1')\";\nmeasurement_type_id_A2 = \"(SELECT id FROM measurement_type WHERE unity = 'A2')\";\nmeasurement_type_id_A3 = \"(SELECT id FROM measurement_type WHERE unity = 'A3')\";\n\nvar value = msg.payload.payload_raw;\n\nvar A1 = value.split(\"A1\");\nvar A2 = A1[1].split(\"A2\");\nvar A3 = A2[1].split(\"A3\");\n\nA1 = A1[0] / 100;\nA2 = A2[0] / 100;\nA3 = A3[0] / 100;\nvar clock = msg.payload.metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\n\nvar value_msg = {value, A1, A2, A3, date, time};\n\nsql_insert_A1 = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id_A1+\",\"+A1+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nsql_insert_A2 = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id_A2+\",\"+A2+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nsql_insert_A3 = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id_A3+\",\"+A3+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nnew_msg = {};\nnew_msg.topic = sql_insert_A1 + sql_insert_A2 + sql_insert_A3;\nnew_msg.custom = value_msg;\n\n//return [new_msg, nvioegp];\nreturn value_msg, new_msg;","outputs":1,"noerr":0,"x":1110,"y":1800,"wires":[[]]},{"id":"8bba90e3.e80ef","type":"function","z":"f7c01a9b.850908","name":"Seleção de sensor e medição","func":"var sensor = msg.payload[0].dev_id;\nvar devEUI = msg.payload[0].hardware_serial;\nvar value = msg.payload[0].payload_raw;\n\nvar i;\n//var n_unity = msg.payload[1].length\nfor (i = 0; i < msg.payload[1].length; i++) {\n  \n}\n\nvar unity = value.split(\"A1\");\n\n\nvar value_msg = {i};\n\nreturn msg, value_msg;","outputs":1,"noerr":0,"x":1190,"y":1720,"wires":[[]]},{"id":"2d134bf0.5b7344","type":"join","z":"f7c01a9b.850908","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":890,"y":1720,"wires":[["8bba90e3.e80ef"]]},{"id":"93de3d82.d63ff","type":"function","z":"f7c01a9b.850908","name":"","func":"sql_select_measurement=\"SELECT name, unity, code FROM SMARTBUILDING_ISCTE.measurement_type\";\n\nsql_msg_measurement = {};\nsql_msg_measurement.topic = sql_select_measurement;\nsql_msg_measurement.custom = {};\n\nreturn sql_msg_measurement;\n","outputs":1,"noerr":0,"x":530,"y":1860,"wires":[[]]},{"id":"ac96e7f6.f0c648","type":"function","z":"f7c01a9b.850908","name":"Criteria","func":"var timeE = msg.payload;\n//Restrict the query to pull the last 24hrs\n//of data instead of the whole db\nmsg.payload = (timeE - (1000*60*60*24));\n    node.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":340,"wires":[["6aecf562.0a435c"]]},{"id":"6b4f9c7.5789e64","type":"template","z":"f7c01a9b.850908","name":"Format query 2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\n CEILING(time/3600000)*3600000 AS timestamp,\n AVG(data1) AS `data1`,\n AVG(data2) AS `data2`\nFROM dbasename\nWHERE time > {{payload}}\nGROUP BY `timestamp`;","output":"str","x":945,"y":410,"wires":[[]]},{"id":"93573dd0.79e75","type":"debug","z":"f7c01a9b.850908","name":"","active":true,"console":"false","complete":"false","x":1335,"y":390,"wires":[]},{"id":"ade158d3.b66e48","type":"inject","z":"f7c01a9b.850908","name":"Timestamp","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":740,"y":290,"wires":[["ac96e7f6.f0c648"]]},{"id":"2018cdb5.7edb82","type":"comment","z":"f7c01a9b.850908","name":"Flow to query database and format for chart","info":"","x":846,"y":240,"wires":[]},{"id":"dcf3956.520b568","type":"template","z":"f7c01a9b.850908","name":"Format data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `dbasename` (`data1`,`data2`,`time`) VALUES ({{data1}},{{data2}},{{time}})","output":"str","x":746,"y":170,"wires":[[]]},{"id":"15358ac9.cf72d5","type":"comment","z":"f7c01a9b.850908","name":"Flow to insert data into the database","info":"","x":815,"y":120,"wires":[]},{"id":"6aecf562.0a435c","type":"template","z":"f7c01a9b.850908","name":"Format query 1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT data1,data2,time FROM dbasename WHERE time > {{payload}}","output":"str","x":945,"y":290,"wires":[[]]},{"id":"b89e340c.79b8a8","type":"change","z":"f7c01a9b.850908","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"data1\", \"label\": \"data1 label\" },\t    { \"field\": \"data2\", \"label\": \"data2 label\" }\t  ];\t  $xaxis := \"timestamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1335,"y":270,"wires":[[]]},{"id":"c78cb81.7002648","type":"debug","z":"f7c01a9b.850908","name":"payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":2040,"wires":[]},{"id":"b4ee3a07.ca1708","type":"function","z":"f7c01a9b.850908","name":"AC - INSERT SQL","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar unity = \"kWh\"; ///////////\nmeasurement_type_id_A1 = \"(SELECT id FROM measurement_type WHERE unity = 'A1')\";\nmeasurement_type_id_A2 = \"(SELECT id FROM measurement_type WHERE unity = 'A2')\";\nmeasurement_type_id_A3 = \"(SELECT id FROM measurement_type WHERE unity = 'A3')\";\n\nvar value = msg.payload.payload_raw;\n\nvar A1 = value.split(\"A1\");\nvar A2 = A1[1].split(\"A2\");\nvar A3 = A2[1].split(\"A3\");\n\nA1 = A1[0] / 100;\nA2 = A2[0] / 100;\nA3 = A3[0] / 100;\nvar clock = msg.payload.metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\n\nvar value_msg = {value, A1, A2, A3, date, time};\n\nsql_insert_A1 = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id_A1+\",\"+A1+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nsql_insert_A2 = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id_A2+\",\"+A2+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nsql_insert_A3 = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id_A3+\",\"+A3+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nnew_msg = {};\nnew_msg.topic = sql_insert_A1 + sql_insert_A2 + sql_insert_A3;\nnew_msg.custom = value_msg;\n\n//return [new_msg, nvioegp];\nreturn value_msg, new_msg;","outputs":1,"noerr":0,"x":730,"y":2180,"wires":[[]]},{"id":"5b1fedc7.b76054","type":"debug","z":"f7c01a9b.850908","name":"SQL-Home","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":2180,"wires":[]},{"id":"a985948d.3ee3a8","type":"function","z":"f7c01a9b.850908","name":"POWER - INSERT SQL","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar unity = \"KW\"; ///////////\nmeasurement_type_id = \"(SELECT id FROM measurement_type WHERE unity = \\\"\"+unity+\"\\\")\";\n\nvar value = msg.payload.payload_raw;\n\nvar x = value.split(\"A3\");\nvar KW = x[1].split(\"KW\");\n\nKW = KW[0] / 100;\n\nvar clock = msg.payload.metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\n\nvar value_msg = {value, KW, date, time};\n\nsql_insert = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id+\",\"+KW+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nnew_msg = {};\nnew_msg.topic = sql_insert;\nnew_msg.custom = value_msg;\n\nreturn value_msg, new_msg;","outputs":1,"noerr":0,"x":750,"y":2260,"wires":[[]]},{"id":"7d1d4d1f.917d14","type":"function","z":"f7c01a9b.850908","name":"ENERGY - INSERT SQL","func":"if (msg.payload.payload_raw.includes(\"WH\") === true) {\nvar dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar unity = \"kWh\"; ///////////\nmeasurement_type_id = \"(SELECT id FROM measurement_type WHERE unity = \\\"\"+unity+\"\\\")\";\n\nvar value = msg.payload.payload_raw;\n\nvar x = value.split(\"KW\");\nvar kWh = x[1].split(\"WH\");\n\nkWh = kWh[0] / 100;\n\nvar clock = msg.payload.metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\n\nvar value_msg = {value, kWh, date, time};\n\nsql_insert = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id+\",\"+kWh+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\nnew_msg = {};\nnew_msg.topic = sql_insert;\nnew_msg.custom = value_msg;\n\nreturn value_msg, new_msg;\n}","outputs":1,"noerr":0,"x":750,"y":2340,"wires":[[]]},{"id":"329fd3cc.dc203c","type":"debug","z":"f7c01a9b.850908","name":"Json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":2040,"wires":[]},{"id":"bcea29e7.1437c8","type":"json","z":"f7c01a9b.850908","name":"","property":"payload","action":"","pretty":false,"x":250,"y":2180,"wires":[["329fd3cc.dc203c"]]},{"id":"4a9ee2ff.85952c","type":"function","z":"f7c01a9b.850908","name":"SELECT SQL - LAST AC","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar A1 = \"AC Phase 1\";\nA1 = \"(SELECT id FROM measurement_type WHERE name = \\\"\"+A1+\"\\\")\";\nvar A2 = \"AC Phase 2\";\nA2 = \"(SELECT id FROM measurement_type WHERE name = \\\"\"+A2+\"\\\")\";\nvar A3 = \"AC Phase 3\";\nA3 = \"(SELECT id FROM measurement_type WHERE name = \\\"\"+A3+\"\\\")\";\n\n\nsql_select_value_AC_1 = \"SELECT value, created_at FROM AC_ISCTE.received_measurement WHERE measurement_type_id = \"+A1+\" AND device_id = \"+device_id+\" ORDER BY ID DESC LIMIT 1;\";\nsql_select_value_AC_2 = \"SELECT value, created_at FROM AC_ISCTE.received_measurement WHERE measurement_type_id = \"+A2+\" AND device_id = \"+device_id+\" ORDER BY ID DESC LIMIT 1;\";\nsql_select_value_AC_3 = \"SELECT value, created_at FROM AC_ISCTE.received_measurement WHERE measurement_type_id = \"+A3+\" AND device_id = \"+device_id+\" ORDER BY ID DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value_AC_1 + sql_select_value_AC_2 +sql_select_value_AC_3;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"x":510,"y":2660,"wires":[[]]},{"id":"5c33dc40.c48dd4","type":"function","z":"f7c01a9b.850908","name":"SELECT SQL - LAST POWER","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Power = \"Power\";\nPower = \"(SELECT id FROM measurement_type WHERE name = \\\"\"+Power+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM AC_ISCTE.received_measurement WHERE measurement_type_id = \"+Power+\" AND device_id = \"+device_id+\" ORDER BY ID DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"x":530,"y":2760,"wires":[[]]},{"id":"ab770b7c.0905f8","type":"delay","z":"f7c01a9b.850908","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":220,"y":2760,"wires":[["4a9ee2ff.85952c","5c33dc40.c48dd4","559ebf46.5e892","5d1bd7aa.b70948"]]},{"id":"559ebf46.5e892","type":"function","z":"f7c01a9b.850908","name":"SELECT SQL - LAST POWER","func":"var dev_id = msg.payload.dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Energy = \"Energy\";\nEnergy = \"(SELECT id FROM measurement_type WHERE name = \\\"\"+Energy+\"\\\")\";\n\nsql_select_value = \"SELECT value, created_at FROM AC_ISCTE.received_measurement WHERE measurement_type_id = \"+Energy+\" AND device_id = \"+device_id+\" ORDER BY ID DESC LIMIT 1;\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"x":530,"y":2860,"wires":[[]]},{"id":"ec042625.efd6c8","type":"function","z":"f7c01a9b.850908","name":"Phase 3","func":"//var msg = {};\nmsg.payload = msg.payload[2][0].value;\nmsg.topic = \"Phase 3\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 3\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1100,"y":2660,"wires":[[]]},{"id":"973fda5d.b2ffb8","type":"function","z":"f7c01a9b.850908","name":"Phase 2","func":"//var msg = {};\nmsg.payload = msg.payload[1][0].value;\nmsg.topic = \"Phase 2\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 2\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1100,"y":2600,"wires":[[]]},{"id":"71e1b816.4311e8","type":"function","z":"f7c01a9b.850908","name":"Phase 1","func":"//var msg = {};\nmsg.payload = msg.payload[0][0].value;\nmsg.topic = \"Phase 1\";\n\n//var newSectors = [{t:\"min\",val:5,col:\"#00ff00\",dot:3}, {t:\"sec\",val:8,col:\"#ff0000\",dot:3}, {t:\"max\",val:30,col:\"#0000ff\",dot:3}]; \n\n//msg.control = {unit:\"A\",label:\"AC\",icon:\"fa-thermometer\",center:4, decimals:2, sectors:newSectors};\nmsg.control = {unit:\"A\",label:\"Phase 1\",icon:\"fa-thermometer\",center:25, decimals:2};\nreturn msg;\n","outputs":1,"noerr":0,"x":1100,"y":2540,"wires":[[]]},{"id":"84a38ec5.769c6","type":"function","z":"f7c01a9b.850908","name":"Power","func":"\nmsg.payload = msg.payload[0].value;\nmsg.topic = \"Power\";\nmsg.control = {min:0, max:23}\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":2760,"wires":[[]]},{"id":"cb20ff4.d3d53","type":"function","z":"f7c01a9b.850908","name":"Energy","func":"msg.payload = msg.payload[0].value;\nmsg.topic = \"Energy\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":2860,"wires":[[]]},{"id":"5d1bd7aa.b70948","type":"trigger","z":"f7c01a9b.850908","name":"timeout","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"2","extend":true,"units":"min","reset":"","bytopic":"topic","outputs":1,"x":460,"y":2480,"wires":[[]]},{"id":"b55efdca.38bba","type":"function","z":"f7c01a9b.850908","d":true,"name":"SELECT SQL - ALL ENERGY","func":"var dev_id = msg.payload[0].dev_id;\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n\nvar Energy = \"Energy\";\nEnergy = \"(SELECT id FROM measurement_type WHERE name = \\\"\"+Energy\n\nvar tempo = msg.payload[1];\n\nsql_select_value = \"SELECT value FROM AC_ISCTE.received_measurement WHERE measurement_type_id = \"+Energy+\" AND device_id = \"+device_id+\";\";\nsql_msg_value = {};\nsql_msg_value.topic = sql_select_value;\nsql_msg_value.custom = {};\n\nreturn sql_msg_value;","outputs":1,"noerr":0,"x":530,"y":2980,"wires":[[]]},{"id":"603ec511.96f82c","type":"debug","z":"f7c01a9b.850908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":3120,"wires":[]},{"id":"8cac80b4.0cf9","type":"function","z":"f7c01a9b.850908","name":"","func":"var x = 0;\nvar l = msg.payload.length;\n\nfor (i = 0; i < l; i++) {\nx = x + msg.payload[i].value;\n}\n\nvar value_msg = {x, l};\n\nmsg.payload = x;\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":2980,"wires":[["f7a69836.71b158"]]},{"id":"f7a69836.71b158","type":"debug","z":"f7c01a9b.850908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":3120,"wires":[]},{"id":"59598045.4df17","type":"join","z":"f7c01a9b.850908","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":170,"y":2980,"wires":[["b55efdca.38bba","398375b.cb5848a"]]},{"id":"398375b.cb5848a","type":"debug","z":"f7c01a9b.850908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":3100,"wires":[]},{"id":"759a7b81.4407e4","type":"debug","z":"f7c01a9b.850908","d":true,"name":"Json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":3280,"wires":[]},{"id":"d5d052cb.0a75d","type":"json","z":"f7c01a9b.850908","d":true,"name":"","property":"payload","action":"","pretty":false,"x":250,"y":3420,"wires":[["759a7b81.4407e4"]]},{"id":"7226d7a5.673718","type":"debug","z":"f7c01a9b.850908","d":true,"name":"payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":3280,"wires":[]},{"id":"55c0a3e5.172a2c","type":"function","z":"f7c01a9b.850908","d":true,"name":"INSERT - SQL","func":"var dev_id = msg.payload.dev_id;\nvar addr_devEUI = msg.payload.hardware_serial;\nvar value = msg.payload.payload_raw;\nvar clock = msg.payload.metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\n\nvar x = 7; ///////\nvar kWh = value.substring(0, x)/100;\nvar unity = \"kWh\"; ///////////\n//var temp = value.substring(4, 8)/100;\n\n\nvar value_msg = {kWh, date, time};\n\ndevice_id = \"(SELECT id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\nmeasurement_type_id = \"(SELECT id FROM measurement_type WHERE unity = \\\"\"+unity+\"\\\")\";\n\nsql_insert = \"INSERT INTO AC_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id+\",\"+kWh+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\")\";\nnew_msg = {};\nnew_msg.topic = sql_insert;\nnew_msg.custom = value_msg;\n\n//return new_msg;\nreturn value_msg, new_msg;","outputs":1,"noerr":0,"x":720,"y":3420,"wires":[["24370159.90978e"]]},{"id":"ddad81f4.ba1f2","type":"debug","z":"f7c01a9b.850908","d":true,"name":"SQL-Home","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":3280,"wires":[]},{"id":"24370159.90978e","type":"debug","z":"f7c01a9b.850908","d":true,"name":"INSERT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":3280,"wires":[]},{"id":"51a3f2ee.5b23fc","type":"function","z":"f7c01a9b.850908","name":"SQL SELECT - thesis","func":"//sql_select_thesis=\"SELECT idReading, keyDevice, kWh, kW, Current, Temp, keyDate, keyTime, timestamp_0 FROM SMARTBUILDING_ISCTE.transfer_test WHERE idReading <= 100;\";\n\ncontador = msg.payload;\n\nsql_select_thesis=\"SELECT idReading, keyDevice, kWh, kW, Current, Temp, keyDate, keyTime, timestamp_0 FROM SMARTBUILDING_ISCTE.transfer_test WHERE idReading = \"+contador+\";\"\nsql_msg_thesis = {};\nsql_msg_thesis.topic = sql_select_thesis;\nsql_msg_thesis.custom = {};\n\nreturn sql_msg_thesis;","outputs":1,"noerr":0,"x":920,"y":3760,"wires":[[]]},{"id":"3dc539e7.3b7bf6","type":"debug","z":"f7c01a9b.850908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":3840,"wires":[]},{"id":"3a54a532.5d2e0a","type":"function","z":"f7c01a9b.850908","name":"SQL INSERT - oldDB","func":"var idReading = [];\nvar dev_id = [];\nvar value = [];\nvar date = [];\nvar time = [];\nvar timestamp_0 = [];\nvar measurement_type_id = [];\n   \n\n//for (var i = 1; i < 99; i++) {\n\n    idReading = msg.payload[0].idReading;\n\n\n    dev_id = msg.payload[0].keyDevice;\n    device_id = \"(SELECT device_id FROM device WHERE name = \\\"\"+dev_id+\"\\\")\";\n    //date = \"(SELECT device_id FROM SMARTBUILDING_ISCTE.device WHERE name = \\\"\"+dev_id+\"\\\"))\";\n    \n    //  measurement_type_id     &       value\n    var kWh = \"E\";\n    var kW = \"P\";\n    var Current = \"X\";\n    var Temp = \"T\";\n    \n\n    value[0] = msg.payload[0].kWh;\n    value[1] = msg.payload[0].kW;\n    value[2] = msg.payload[0].Current;\n    value[3] = msg.payload[0].Temp;\n    \n    measurement_type_id[0] = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+kWh+\"\\\")\";\n    measurement_type_id[1] = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+kW+\"\\\")\";\n    measurement_type_id[2] = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+Current+\"\\\")\";\n    measurement_type_id[3] = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+Temp+\"\\\")\";\n    \n    \n    // date\n    date = \"(SELECT keyDate FROM SMARTBUILDING_ISCTE.transfer_test WHERE idReading = \"+idReading+\")\";\n\n    // time\n    time = msg.payload[0].keyTime;\n    \n\n\n    // timeStamp\n    timestamp_0 = \"(SELECT timestamp_0 FROM transfer_test WHERE idReading = \"+idReading+\")\";\n    \n\n    //var msg_test = 0;\n    var sql_insert ={};\n    var new_insert = {};\n\n  \n    for (var j = 0; j < 4; j++) {\n        sql_insert[j] = \"INSERT INTO SMARTBUILDING_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time, created_at) Values(\"+device_id+\",\"+measurement_type_id[j]+\",\"+value[j]+\", \"+date+\",\\\"\"+time+\"\\\", \"+timestamp_0+\");\";\n        if (j === 0){\n        new_insert.topic = sql_insert[j];   \n        }\n        else{\n            new_insert.topic = new_insert.topic + sql_insert[j];\n            }\n    }\n\n// sql_insert =\n\n    var msg_test = {device_id, measurement_type_id, value, date, time, timestamp_0, idReading, j};\n    new_insert.custom = msg_test;\n    return new_insert;//, sql_insert;\n\n//}","outputs":1,"noerr":0,"x":1560,"y":3760,"wires":[["92fae1e.733262"]]},{"id":"92fae1e.733262","type":"debug","z":"f7c01a9b.850908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1710,"y":3840,"wires":[]},{"id":"c12e243c.108148","type":"debug","z":"f7c01a9b.850908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2030,"y":3840,"wires":[]},{"id":"5237068e.8dff48","type":"inject","z":"f7c01a9b.850908","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"217760","payloadType":"num","x":190,"y":3760,"wires":[["6889617.f54c6a"]]},{"id":"e7570ce8.b5787","type":"debug","z":"f7c01a9b.850908","name":"","active":true,"console":"false","complete":"false","x":730,"y":3840,"wires":[]},{"id":"6889617.f54c6a","type":"delay","z":"f7c01a9b.850908","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":380,"y":3760,"wires":[["d1d0b75d.353938"]]},{"id":"82a67c8.f9b878","type":"delay","z":"f7c01a9b.850908","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":500,"y":3680,"wires":[[]]},{"id":"7fab42e2.93bd8c","type":"comment","z":"f7c01a9b.850908","name":"Transfer Data to Nem BD from old DB","info":"","x":310,"y":3600,"wires":[]},{"id":"d1d0b75d.353938","type":"switch","z":"f7c01a9b.850908","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"283590","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":3760,"wires":[["e7570ce8.b5787","82a67c8.f9b878","51a3f2ee.5b23fc"],[]]},{"id":"5f3b0ce0.03ec44","type":"function","z":"f7c01a9b.850908","name":"EXTRAT INFO - LoRa","func":"var pos_unity ={};  //posição da unidade na msg LoRa\nvar unity={};       //unidades das medidas\nvar new_msg = {};   //separação da mensagem\nvar measures = {};  //medições dos sensores\nvar n = 0;          //nº de medições e respetivas unidades na msg LoRa\n\nvar seq = msg.payload[0].counter;\nvar payload_raw = msg.payload[0].payload_raw;\n\n\nvar clock = msg.payload[0].metadata.time;\nvar date = clock.substring(0, 10);\nvar time = clock.substring(11, 19);\n\nvar sensor = msg.payload[0].dev_id;         //nome do sensor da msg\nvar devEUI = msg.payload[0].hardware_serial;//EUI adress\nvar local = payload_raw.slice(0,3);         //Código do local\nvar value = payload_raw.slice(3);           //valores das medidas\n\n\n//extração do unity e n da msg\nfor (var i = 0; i < msg.payload[1].length; i++) {\n    if (value.indexOf(msg.payload[1][i].code) != -1) {\n        pos_unity[n] = value.indexOf(msg.payload[1][i].code);\n        unity[n] = value.slice(pos_unity[n], pos_unity[n]+1);\n        n++\n    }\n} //\n\n//extração das mesures da msg\nnew_msg[0] = value.split(unity[0]);\nmeasures[0] = new_msg[0][0];\nfor (var x = 1; x < n; x++) {\n    new_msg[x] = new_msg[x-1][1].split(unity[x]);\n    measures[x] = new_msg[x][0];\n} //\n\nvar next_node = {seq, payload_raw, date, time, sensor, devEUI, local, value, unity, measures, n};\nvar msg_test = {pos_unity, new_msg, x};\n\nreturn [next_node, msg_test];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":4340,"wires":[["3430c801.33caa8","559e0acf.277424"]]},{"id":"9de13857.51e628","type":"join","z":"f7c01a9b.850908","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":770,"y":4340,"wires":[["5f3b0ce0.03ec44","6905286.16074d8"]]},{"id":"442ddcf8.25bf54","type":"function","z":"f7c01a9b.850908","name":"SELECT MEASUREMENT_TYPE LIST","func":"sql_select_measurement=\"SELECT name, unity, code FROM SMARTBUILDING_ISCTE.measurement_type\";\n\nsql_msg_measurement = {};\nsql_msg_measurement.topic = sql_select_measurement;\nsql_msg_measurement.custom = {};\n\nreturn sql_msg_measurement;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":4460,"wires":[[]]},{"id":"3430c801.33caa8","type":"debug","z":"f7c01a9b.850908","name":"saida 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1360,"y":4220,"wires":[]},{"id":"6905286.16074d8","type":"debug","z":"f7c01a9b.850908","name":"BIG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":4220,"wires":[]},{"id":"559e0acf.277424","type":"function","z":"f7c01a9b.850908","name":"SQL INSERT","func":"var seq = msg.seq;\n\n//  local_id\nvar loc_id = msg.local;\nlocal_id = \"(SELECT local_id FROM local WHERE index_code = \\\"\"+loc_id+\"\\\")\";\n\n//  device_id\nvar dev_id = msg.sensor;\ndevice_id = \"(SELECT device_id FROM device WHERE local_id = \"+local_id+\")\";\n\n//  measurement_type_id     &       value\nvar unity = msg.unity;\nvar value = msg.measures;\nvar measurement_type_id = [];\nfor (var i = 0; i < msg.n; i++) {\n    \n    measurement_type_id[i] = \"(SELECT measurement_type_id FROM measurement_type WHERE code = \\\"\"+unity[i]+\"\\\")\";\n    value[i] = value[i] / 100;\n    \n    if( unity[i] == \"E\") {// bug ENERGY need extra divid 100\n        value[i] = value[i] / 100;\n    }\n}\n\n//  date\nvar date = msg.date;\n\n// time\nvar time = msg.time;\n\nvar msg_test = {device_id, unity, measurement_type_id, value, date, time, seq}\n\nvar sql_insert ={};\nvar new_insert = {};\n    new_insert.custom = msg_test;\nfor (var j = 0; j < msg.n; j++) {\n    sql_insert[j] = \"INSERT INTO SMARTBUILDING_ISCTE.received_measurement(device_id, measurement_type_id, value, date, time) Values(\"+device_id+\",\"+measurement_type_id[j]+\",\"+value[j]+\",\\\"\"+date+\"\\\",\\\"\"+time+\"\\\");\";\n    if (j === 0){\n    new_insert.topic = sql_insert[j];   \n    }\n    else{\n        new_insert.topic = new_insert.topic + sql_insert[j]\n        }\n}\n\nreturn new_insert;//, sql_insert;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":4340,"wires":[["5385c401.c3e5ec"]]},{"id":"5385c401.c3e5ec","type":"debug","z":"f7c01a9b.850908","name":"saida 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1640,"y":4220,"wires":[]},{"id":"1e53c10.fbfe73f","type":"debug","z":"f7c01a9b.850908","name":"SQL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1930,"y":4300,"wires":[]},{"id":"2020b688.112a6a","type":"function","z":"f7c01a9b.850908","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    schedule: \"replace\",\n    confirmed: false,\n    payload: {\n        led: !msg.led,\n    },\n}","outputs":1,"noerr":0,"x":1600,"y":800,"wires":[["fbbf7813.350208"]]},{"id":"1373885f.191b28","type":"debug","z":"f7c01a9b.850908","name":"event","active":true,"console":"false","complete":"true","x":1770,"y":680,"wires":[]},{"id":"e154e9a4.2e48b8","type":"debug","z":"f7c01a9b.850908","name":"uplink","active":true,"console":"false","complete":"true","x":1770,"y":740,"wires":[]},{"id":"fbbf7813.350208","type":"debug","z":"f7c01a9b.850908","name":"function","active":true,"console":"false","complete":"true","x":1780,"y":800,"wires":[]}]